In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.webdriver.common.keys import Keys

In [2]:
# Importing the webdriver
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
# driver = webdriver.Chrome('chromedriver')    # You know what this is for.

# Q1

In [3]:
# Opening the webpage
url = 'https://www.naukri.com/'
driver.get(url)
time.sleep(3)

In [4]:
# Elements for searchbar
search_bar = driver.find_element_by_id('qsb-keyword-sugg')
search_bar
time.sleep(1)

In [5]:
search_bar.send_keys('Data Analyst')

In [6]:
# Elements for Location bar
location_bar = driver.find_element_by_id('qsb-location-sugg')
location_bar
time.sleep(1)

In [7]:
location_bar.send_keys('Bangalore')

In [8]:
# Element for the search button
search_button = driver.find_element_by_xpath("//button[@class = 'btn']")
search_button

In [9]:
search_button.click()

In [10]:
# Scrapping data for first 10 job results. 
time.sleep(5)
job_results = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_results

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c9bcbfa9-13ae-48b8-b8c0-f26b1cbc4df4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="1916230a-9a95-4920-ba61-75a01b2d3e05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d6dfdf92-47b5-4e8e-8652-c9a29459f5ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3f606c3c-f654-4373-87d5-0131d1b067ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="db1892de-d7ef-4f9a-a4bc-e9965ba25af0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="edfeabd9-fb96-4b7e-8e40-aeaa30269ee5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="942c3275-5072-42e9-8f74-3618e7385f3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="87dacf14-3c62-4284-8ad4-fc03ab6c87f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b0f28825-d271-49d3-ad0a-4d07be6c28bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="322492c4-e7e8-4622-ad2e-9e54eb3336c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="136090b0-4c10-4ab2-90c7-aedba57d5d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ba85ced1-dcad-43bd-82c8-a1c16d0a839e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c7cb9948-e8a7-43f7-aeec-6b6203607b28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f7212497-3f43-4955-8848-57c1d2d3f700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="180013f6-8c7d-41cb-86f8-007e0524a0d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3e69a940-45bc-486e-b563-a4db446c145a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="5ff6268d-019e-4f2a-a101-e772864d5e66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a2fdb7a0-07f8-4e8f-9221-3d1e21729b22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3d664891-a266-4edc-89a5-b03b9882a75a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="24dab684-a1f5-4749-ac03-ce548ca66ec4")>]

In [11]:
job_list = []
for i in job_results:
    job_list.append(i.text)
jobs = job_list [:10]
jobs

['Data Analyst - Quant & Data Mining',
 'Data Analyst',
 'Data Analyst - Graphy',
 'Data Analyst',
 'ACO Data Analyst Call Rina',
 'Concentrix Innovation Labs Hiring For Data Analyst (Immediate Joiner)',
 'Data Analyst / Python R/ SQL @ Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [12]:
Jobs = pd.DataFrame()
Jobs['Jobs'] = jobs

In [13]:
Jobs

                                                Jobs
0                 Data Analyst - Quant & Data Mining
1                                       Data Analyst
2                              Data Analyst - Graphy
3                                       Data Analyst
4                         ACO Data Analyst Call Rina
5  Concentrix Innovation Labs Hiring For Data Ana...
6           Data Analyst / Python R/ SQL @ Bangalore
7                                       Data Analyst
8                                       Data Analyst
9                                       Data Analyst

# Q2

In [14]:
# Opening the webpage
url1 = 'https://www.naukri.com/'

In [15]:
driver.get(url1)
time.sleep(3)

In [16]:
# Elements for searchbar
search_bar = driver.find_element_by_id('qsb-keyword-sugg')
search_bar
time.sleep(1)

In [17]:
search_bar.send_keys('Data Analyst')

In [18]:
# Element for the search button
search_button = driver.find_element_by_xpath("//button[@class = 'btn']")
search_button

In [19]:
# Elements for Location bar
location_bar = driver.find_element_by_id('qsb-location-sugg')
location_bar
time.sleep(1)

In [20]:
location_bar.send_keys('Bangalore')

In [21]:
# Element for the search button
search_button = driver.find_element_by_xpath("//button[@class = 'btn']")
search_button

In [22]:
search_button.click()

In [23]:
# Scrapping data for first 10 job results. 
time.sleep(5)
job_titles = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_titles

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4fbea3b5-0eb0-439b-9dd8-ca5dc963a269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="1c1106eb-0496-4316-9819-3a768e829287")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f0b55f30-9bc5-438d-b4e9-7fed45df4c29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="8809e858-d144-40be-9c2d-8cd91c45f809")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c5e056df-d88e-4a4d-bbfb-4d111c61b7a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b952a4e3-47ac-432a-9b23-7fe887c3e1a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="edae212c-239b-4757-8318-be46deeabe86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="bb6b66ab-57cc-41fb-8f54-2f512d9c239c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e17af392-00d4-401c-a97f-830753bb89eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c93203a8-c4c3-4d7b-8634-da251e79fc3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="15888c4b-3550-4513-8d99-d339e3fc6b4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="bcd9936d-79f9-4ed8-bd8e-9381c5ae7d38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="beaff038-ff51-4798-9c1f-f4c44074fb95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ed666d01-e895-4d9e-8475-cc0f58aff9f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d7a2e251-64a4-46da-86fb-b5c42d9e2ad7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ced34d58-287a-4b5d-b27f-45f09ebfec8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="cb21e9b9-475e-4de5-9a10-334866d6e74a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="90cfd36a-7a52-4451-bc9a-75ec68a21c5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="78cb6c1d-b106-4d93-937b-536c667cd1a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a6d9e2f8-3344-4a7c-a2ac-be28e2ec9ec8")>]

In [24]:
Job_titles_x = []
for i in job_titles:
    Job_titles_x.append(i.text)
Job_titles_x

['Data Analyst - Quant & Data Mining',
 'Data Analyst',
 'Data Analyst - Graphy',
 'Data Analyst',
 'ACO Data Analyst Call Rina',
 'Concentrix Innovation Labs Hiring For Data Analyst (Immediate Joiner)',
 'Data Analyst / Python R/ SQL @ Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Job openings For Data Analyst_Bangalore_Izmo Ltd',
 'Job Openings For Alteryx/Power BI Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'DATA Analystâ€“Available Immediately(MNC Service Based Company@Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst @ Flipkart on Contract']

In [25]:
Job_titles = Job_titles_x[:10]

In [26]:
# Finding the Job locations
job_location = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']//span")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4b1b99ca-f8da-42d2-a2ca-90d7c99a714f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3a0ee286-e346-4410-94eb-a94da77f3dd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c5fac3a9-f5aa-4943-be6b-7d942069306b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="696adeda-11c8-42c7-a83a-0030c0ce29c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d5330921-4d9e-4b00-85dc-049631f0fe40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a7a55812-bfa2-48e3-8d3c-b342049f5ced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4a71381b-92f9-4a0b-aedd-31cda0c14855")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a5a11a25-111c-4c2f-9efa-12d188f0570e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="117acff2-0f87-4fe6-9f95-7e33daa554b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="288af4d3-9d71-49b8-a769-bd0fe7203b94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a6e859c0-94a8-4a56-b7c2-dda9fa56ac95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="08808303-2447-41d9-b33c-068fcd3025e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ea79256c-fd6f-49b3-9a8c-1c87ee72eb64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="335190b2-9f31-43e1-9957-6de593075ff4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3b8be658-247c-4eb5-8819-b0c1d077037a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c618148c-94cf-4841-b502-3ee418878b05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f7867404-c7be-42b1-ad03-58b5cb860801")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="448f914d-0013-4c3d-ab7b-3c7af426088c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2a323a06-459e-4245-9c6c-3be86e4d7100")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ebd249c7-0493-4b2f-b081-b3332e0e33c4")>]

In [27]:
Job_location_x = []
for i in job_location:
    Job_location_x.append(i.text)
Job_location_x

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(4th Phase JP Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
Job_location = Job_location_x[:10]

In [29]:
# Finding the company names
company_name = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="1bcb129f-02a3-4a60-82b6-81fd8ed30e63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7b008838-4561-4f38-912a-45254b3ca453")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="81ba8bf5-4c6c-4e26-9fd9-9936ceb98212")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c3c2aca9-0ee8-41ed-b5d6-f75d3cf64e52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ed1de029-1b23-4e83-835f-755ce7d05d34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="72408491-3e04-4005-8b39-b4d3a21ad85c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="18182369-94e8-4650-8fab-e9e7d4520575")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3c7b46d1-f65a-4a61-8417-8650bea9bf17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ed930bcd-bdb6-448f-853e-74c18f66248f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6ec8c8fb-7e17-4956-b9a3-7854aa837d87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="bb9f13f0-e046-4db8-a8f2-f53184ba1e98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="bb7be3f1-15a9-4949-ac96-53ec4f14769f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="fb270d69-5e7c-4712-b3b9-d5320bd1c48c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="96132632-2630-4e73-b951-2adaa5831f61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="64bf0990-a299-443d-ad01-db8aa57ebf44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="09982d11-15fb-4d07-a973-9b93c4444380")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3a2ef0ae-75e0-4320-a048-9dfc2b146f1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ee4aba99-48bc-4f60-83d0-7a99c5c15d45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="85a74fc2-18d9-4a38-9d2c-02da3f1abc8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c39ad54c-45ed-4877-a66b-ecffa3805161")>]

In [30]:
Company_name_x = []
for i in company_name:
    Company_name_x.append(i.text)
Company_name_x

['Catalyst',
 'Near Pte. Ltd.',
 'Unacademy',
 'Novel Office',
 'White Horse Manpower Consultancy Private Limited',
 'Concentrix Daksh Services India Private Limited.',
 'PERSOLKELLY INDIA PRIVATE LIMITED',
 'Sobha Limited',
 'Innovsource Services Private Limited',
 'Innovsource Services Private Limited',
 'IZMO LTD.',
 'Kelly Outsourcing and Consulting Group India Priv ate Limited',
 'Flipkart Internet Private Limited',
 'Catalyst',
 'Yodlee Infotech Private Limited',
 'Talent Connect',
 'Growth Gamut Pvt Ltd',
 'Kwalee ltd.',
 'Draup',
 'Flipkart Internet Private Limited']

In [31]:
Company_name = Company_name_x[:10]

In [32]:
# Finding the job descriptions
# To find this, we need to go inside every pages. Hence preparing the URL lists.
job_url = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_url

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4fbea3b5-0eb0-439b-9dd8-ca5dc963a269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="1c1106eb-0496-4316-9819-3a768e829287")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f0b55f30-9bc5-438d-b4e9-7fed45df4c29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="8809e858-d144-40be-9c2d-8cd91c45f809")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c5e056df-d88e-4a4d-bbfb-4d111c61b7a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b952a4e3-47ac-432a-9b23-7fe887c3e1a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="edae212c-239b-4757-8318-be46deeabe86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="bb6b66ab-57cc-41fb-8f54-2f512d9c239c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e17af392-00d4-401c-a97f-830753bb89eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c93203a8-c4c3-4d7b-8634-da251e79fc3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="15888c4b-3550-4513-8d99-d339e3fc6b4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="bcd9936d-79f9-4ed8-bd8e-9381c5ae7d38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="beaff038-ff51-4798-9c1f-f4c44074fb95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ed666d01-e895-4d9e-8475-cc0f58aff9f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d7a2e251-64a4-46da-86fb-b5c42d9e2ad7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ced34d58-287a-4b5d-b27f-45f09ebfec8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="cb21e9b9-475e-4de5-9a10-334866d6e74a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="90cfd36a-7a52-4451-bc9a-75ec68a21c5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="78cb6c1d-b106-4d93-937b-536c667cd1a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a6d9e2f8-3344-4a7c-a2ac-be28e2ec9ec8")>]

In [33]:
Job_url_x = []
for i in job_url:
    Job_url_x.append(i.get_attribute('href'))
Job_url_x

['https://www.naukri.com/job-listings-data-analyst-quant-data-mining-catalyst-bangalore-bengaluru-2-to-6-years-250320902669?src=jobsearchDesk&sid=16217819558177133&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-analyst-near-pte-ltd-bangalore-bengaluru-2-to-5-years-170521500476?src=jobsearchDesk&sid=16217819558177133&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-analyst-graphy-unacademy-bangalore-bengaluru-1-to-4-years-120521500667?src=jobsearchDesk&sid=16217819558177133&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-analyst-novel-office-bangalore-bengaluru-0-to-3-years-160221000571?src=jobsearchDesk&sid=16217819558177133&xp=4&px=1',
 'https://www.naukri.com/job-listings-aco-data-analyst-call-rina-white-horse-manpower-consultancy-private-limited-bangalore-bengaluru-2-to-4-years-100521005465?src=jobsearchDesk&sid=16217819558177133&xp=5&px=1',
 'https://www.naukri.com/job-listings-concentrix-innovation-labs-hiring-for-data-analyst-immediate-joiner-concentrix-daksh-services-india-private-limited-bangalore-bengaluru-delhi-ncr-2-to-7-years-120121001100?src=jobsearchDesk&sid=16217819558177133&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analyst-python-r-sql-bangalore-persolkelly-india-private-limited-bangalore-bengaluru-2-to-7-years-050521003763?src=jobsearchDesk&sid=16217819558177133&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-analyst-sobha-limited-bangalore-bengaluru-2-to-5-years-160221005211?src=jobsearchDesk&sid=16217819558177133&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-analyst-innovsource-services-private-limited-bangalore-bengaluru-1-to-6-years-210521004891?src=jobsearchDesk&sid=16217819558177133&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-analyst-innovsource-services-private-limited-bangalore-bengaluru-1-to-6-years-220521001189?src=jobsearchDesk&sid=16217819558177133&xp=10&px=1',
 'https://www.naukri.com/job-listings-openings-for-data-analyst-bangalore-izmo-ltd-izmo-ltd-bangalore-bengaluru-2-to-3-years-060521003822?src=jobsearchDesk&sid=16217819558177133&xp=11&px=1',
 'https://www.naukri.com/job-listings-openings-for-alteryx-power-bi-data-analyst-kelly-outsourcing-and-consulting-group-india-priv-ate-limited-bangalore-bengaluru-2-to-5-years-110521008102?src=jobsearchDesk&sid=16217819558177133&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-1-to-3-years-170521905920?src=jobsearchDesk&sid=16217819558177133&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-analyst-catalyst-bangalore-bengaluru-1-to-3-years-260220902116?src=jobsearchDesk&sid=16217819558177133&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-analyst-yodlee-infotech-private-limited-bangalore-bengaluru-2-to-6-years-110521004618?src=jobsearchDesk&sid=16217819558177133&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-analyst-talent-connect-bangalore-bengaluru-1-to-3-years-181120904382?src=jobsearchDesk&sid=16217819558177133&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-analyst-available-immediately-mnc-service-based-company-bangalore-growth-gamut-pvt-ltd-bangalore-bengaluru-2-to-7-years-040521003063?src=jobsearchDesk&sid=16217819558177133&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-analyst-kwalee-ltd-bangalore-bengaluru-2-to-7-years-121120002454?src=jobsearchDesk&sid=16217819558177133&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-analyst-draup-bangalore-bengaluru-1-to-3-years-050521500480?src=jobsearchDesk&sid=16217819558177133&xp=19&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-analyst-flipkart-on-contract-flipkart-internet-private-limited-bangalore-bengaluru-2-to-6-years-170521002261?src=jobsearchDesk&sid=16217819558177133&xp=20&px=1']

In [34]:
Job_url = Job_url_x[:10]

In [35]:
from selenium.common.exceptions import NoSuchElementException

In [36]:
Job_desc = []
for i in Job_url:
    driver.get(i)
    time.sleep(3)
    try:
        job_desc = driver.find_element_by_xpath("//section[@class = 'job-desc']")
        Job_desc.append(job_desc.text.replace('\n', ''))
    except NoSuchElementException:
        Job_desc.append('-')
        
Job_desc

['Job descriptionResponsibilities :- Apply your expertise in quantitative analysis, data mining, and the presentation of data to see beyond the numbers and understand how our users interact with our core products.- Partner with Product and Engineering teams to solve problems and identify trends & opportunities.- Inform, influence, support and execute product decisions.- Buildmaintain reports, dashboards, and metrics to monitor the performance of products.- Mine massive amounts of data and extract useful product insights.- Manage development of data resources, gather requirements, organise sources & support product launches.- Data Visualisation and presentation tofor cross functional teams.RoleBusiness AnalystIndustry TypeIT Services & ConsultingFunctional AreaIT Software - DBA, DatawarehousingEmployment TypeFull Time, PermanentRole CategorySystem Design/Implementation/ERP/CRMEducationUG :BCA in Computers, B.Tech/B.E. in Any Specialization, B.Sc in Any SpecializationPG :Any Postgraduate in Any SpecializationDoctorate :Doctorate Not RequiredKey SkillsData ScienceDashboard DesignData MiningData VisualizationData AnalystData AnalyticsQuant',
 'Job descriptionThe OpportunityNear is looking for a Data Analyst to join our team as we scale globally. You will be a key member of the Analytics Research team, delivering critical data-driven insights across the organization as well as to partners.Your responsibilities will include extracting data from various sources, interpreting and analysing it to deliver actionable insights. You will also be responsible for presenting it in an appealing manner to enable effective data-driven decision-making through reporting, analysis, and optimization.This is a great opportunity to be part of one of the fastest growing Enterprise SaaS companies in the world.Tasks includeUndertake analytics tasks and complete it within the set deadlines.Use your understanding of different data sources and employ it for the best use cases.Optimize code for maximum efficiency.Collaborate with product managers and suggest appropriate solutions for analytics deliverables.Build solutions for users and customers based on feedback.Build reusable code and libraries for future use.Synthesize quantitative and qualitative data into insights that deepen our understanding of our product performance and user behaviour.Support cross functional teams with data reports and insights on data.Stay up-to-date on emerging technologies and skills.Skills and RequirementsYou should hold a Bachelor s/Master s degree in B.Tech/M.Tech.Should have 2-5 Years of relevant BI/reporting experience in SQL/Python.Should be self-driven and passionate about all things data.Should be adept at understanding business requirements and translating them into code.Expertise in analyzing data and querying authoring.Experience in structured analysis and query optimization in SQL.Experience with Big Data Technologies and any Data Visualization tools will be a big plus.Exceptional problem solving, analytical and organizational skills with an eye for detail.RoleAssociate/Senior Associate -(NonTechnical)Industry TypeFilm / Music / EntertainmentFunctional AreaITES, BPO, KPO, LPO, Customer Service, OperationsEmployment TypeFull Time, PermanentRole CategoryVoiceEducationUG :Any Graduate in Any SpecializationPG :Post Graduation Not RequiredKey SkillsData analysisquery optimizationAnalyticalHTMLData Analystdata visualizationbig dataAnalyticsSQLPython',
 'Job descriptionDescriptionWork closely with the business development team to help them scrap data from social media platforms like Instagram, YouTube, Linkedin, etcShould possess a Business mindset and understand upcoming trendsShould be able to identify different categories and scrap data accordinglyUnderstanding of data management using excelRequirementsUnderstanding of scripting languagesSound understanding of Data extraction and web scrapingShould have a logical understanding of Graphy businessExperience required - 1-4 yrsSkill Required - Web Scraping Python Requests,HTML parsing, Pandas will be an added advantageEducation - B.Tech (Computer Science) is preferredBenefitsTop of the Market SalaryGreat learning environmentRoleAssociate/Senior Associate -(NonTechnical)Industry TypeEducation / TrainingFunctional AreaITES, BPO, KPO, LPO, Customer Service, OperationsEmployment TypeFull Time, PermanentRole CategoryVoiceEducationUG :Any Graduate in Any SpecializationPG :Post Graduation Not RequiredKey SkillsExcelData managementSocial mediaData Analyst',
 'Job descriptionBasic Data entry operationData uploading and scrubbingMIS activities & Basic Data entry operationSpreadsheet preparation and data managementRequired Candidate profile1-3 Years of experience.Daily/Weekly/Monthly reports knowledge.Advanced Excel Expertise (including Pivot, all functions etc.) and Analytical Skills.Good communication & comprehending skills.VBA, Macro & basic SQL knowledge will be an added advantage.RoleData AnalystIndustry TypeMiscellaneousFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any Graduate in Any SpecializationPG :Any Postgraduate in Any SpecializationKey SkillsCommunication SkillsMonthly Dash BoardsNon Voice ProcessMISData AnalysisAdvanced ExcelProcess ExcellenceFresherData ProcessingBusiness Process AnalysisMba FresherMacros',
 "Job descriptionExtract weekly data for COMPANIES clientsMake sure the data is placed in the right serversTo Run scripts to covert the data into COMPANIES 's data warehouse formatRequired Candidate profilePeriodically contact Client to make sure that the Client is properly using the EHR, so that they don't miss on any of the incentive parameters.Interact with TL and other membersPerks and benefitsPlus incentives and transportationRoleAssociate/Senior Associate -(Technical)Industry TypeBPO / Call CentreFunctional AreaITES, BPO, KPO, LPO, Customer Service, OperationsEmployment TypeFull Time, PermanentRole CategoryVoiceEducationUG :Any Graduate in Any Specialization, Graduation Not RequiredPG :Post Graduation Not Required, Any Postgraduate in Any SpecializationDoctorate :Any Doctorate in Any Specialization, Doctorate Not RequiredKey Skillsdata analysis",
 "Job descriptionGreetings!!Concentrix Innovation Labs is Hiring For Data Analyst.Position - Data AnalystLocation - Open for Pan India(Bangalore, Hyderabad, Chennai, Delhi NCR, Mumbai, Pune)Looking for Immediate Joiner who can join in max 1monthKeywordData Analysis ,BI , SQLJob DescriptionResponsible to analysis business requirement for data analytics purposeResponsible to design and develop business analysis modelResponsible to design and develop for digital applicationResponsible to data visualization developmentQualifications:Bachelor's Degree in Computer Science or mathematics/statistics2+ years of Data Analysis ExperienceGood at BI Products like MS Power BI, Tableau, Fine ReportGood at Visualization Design for User ExperienceBe familiar with SQL DevelopmentExperience with Spark/Python for ETL/ELT Process development is preferredExperience with Hive, Vertica, Vector is preferredExperience in offshore team collaboration.Looking for Immediate JoinerRoleData AnalystIndustry TypeBPO / Call CentreFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any Graduate in Any SpecializationKey SkillsData analystPower BiData AnalysisData VisualizationTableauSparkETLStatisticssql",
 "Job descriptionMUST HAVE EXPERIENCE IN DATA ANALYST USING PYTHON / R, AND WRITING SQL,MUST HAVE EXPERIENCE IN DASHBOARD.MUST HAVE EXPERIENCE IN QUALITATIVE AND QUNATITATIVE METHODS.MUST WILLING TO WORK IN ANY SHIFTS.Role:Write SQL queries to measure performance and visibility and based on internal requests from the team.To efficiently manage inter function interactions with all the stakeholders.Be the central depository for all Supply related performance data, reports, contact.Calculate Fill Rate for all Monetised Properties on a weekly basis.Assist with business planning efforts supported by quantitative and qualitative analysis.Create Base Allocation Sheet for all platform level events with complete clarity on supply.Maintain Historical Data Points for BU wise spend data on the monthly basis and Coordinate with respective demand spocs for the same.Create Dashboards and Visualize data Useful for the team.Requirements1. Work-ex should be in the analytical domain with strong experience with Advanced Excel, SQL and Python /R is Must.2. Preferred work-ex 1-4 years.3. Candidates must have at least a bachelor's degree from Tier one Institute. Additional Courses on analytics online would be a plus.4. Strong Stakeholder Management Skills and a team player.4. Knowledge of Tableau/Google data studio would be a Plus.IF INTERSTED, SHARE YOUR RESUME ALONG WITH CURRENT NET, EXPECTED TAKE HOME, MOTICE PERIOD AND REASON FOR LEAVING TO roopa_kotian@kellyservices.co.in or SMS to 9513417626By submitting your curriculum vitae or personal data to us in connection with your job application, you are deemed to have read and agreed to the terms of our Privacy Policy, and consented to the collection, use and disclosure of your personal data by us and our affiliates, in accordance with our Privacy Policy. Please visit www.kellyservices.co.in for a copy of our Privacy Policy. If you wish to withdraw your consent, please drop us an email to let us know.We at Kelly Services India do not ask job seekers to pay any kind of fee, make cash or online payment through any channel in exchange of interviews, offer letters or job for Kelly services or any of our clients . Nor do we ask our candidates to supply credit card numbers, PIN numbers, OTP details relating to bank accounts. If you receive any suspicious requests purportedly from Kelly Services India, please alert us at KellyServicesIndia@kellyservices.co.in.RoleData AnalystIndustry TypeInternetFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any Graduate in Any SpecializationKey SkillsRBankingData AnalysisDATA ANALYSTSQLPython",
 'Job descriptionRoles and Responsibilities :Identify, analyze, and interpret trends or patterns in complex data setsWork with management to prioritize business and information needsInterpret data, analyze results using statistical techniques and provide ongoing reportsAcquire data from primary or secondary data sources and maintain databases/data systemsLocate and define new process improvement opportunitiesExperience in Power BI and SQLStrong in Excel- Data Visualization, Graphs , data analyzingRoleBusiness AnalystIndustry TypeMiscellaneousFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategorySystem Design/Implementation/ERP/CRMEducationUG :Any Graduate in Any SpecializationKey SkillsData Analysis',
 'Job descriptionGreetings..!!Client: Well known Ecommerce CompanyDesignation: Data AnalystExperience: 1 YearCTC: 4.5 L to 8 LacsMandatory skills: Microsoft Excel / SQL / Basic Programming knowledge - R/Python /Regression/ForecastingLocation: Bangalore (WFH)Contract Period: 6 Months to 1 YearRoles and ResponsibilitiesDashboard development and generation for daily, weekly, monthly and all reporting needs. Gather user requirements for new reports and enhance existing reports. Interpret needs and design reports to meet end user expectations.Data modeling, and creation of both logical and physical data models for effective and efficient reporting and TAT on frequent requestsDesign and develop complex data queries to move and transform data from operational data sources to analytical databases. Test all new reports/deliverables and periodically review them for quality control. Data validation and attention to detail is required as this role will be accountable for quality of all the numbers delivered through dashboards or otherwise.Work effectively as part of a team to achieve individual, team and organizational objectives, sharing knowledge and skills. Positively work and influence with team members to partner together to achieve individual, customers and business goalsRequired Technical Skills:Strong experience in building complex SQL queries Advanced Excel & Macros.Strong logical & analytical concepts in databases, schemas, dimensional modellingEnd-to-end Experience in building complex MIS and dashboards especially in QlikView Programming languages like VB, JAVA, C will be good to have Experience in QlikView and Hadoop is highly desirable but not mandatoryDesired Candidate ProfileVBA / Business AcumenPerks and BenefitsPF, Medical, InsuranceIf interested, kindly share your updated resume to ankitad@innovsource.comRoleBusiness AnalystIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategorySystem Design/Implementation/ERP/CRMEducationUG :Any Graduate in Any SpecializationKey SkillsData AnalysisRegressiondata analystPythonSQL',
 'Job descriptionGreetings..!!Client: Well known Ecommerce CompanyDesignation: Data AnalystExperience: 1 YearCTC: 4.5 L to 5 LacsMandatory skills: Microsoft Excel / SQL / Basic Programming knowledge - R/Python /Regression/Forecasting/Fashion(D1015)/SQL query building / advanced excel/macros knowledge / Python/R / A/B testing / PowerBILocation: Bangalore (WFH)Contract Period: 6 Months to 1 YearRoles and ResponsibilitiesDashboard development and generation for daily, weekly, monthly and all reporting needs. Gather user requirements for new reports and enhance existing reports. Interpret needs and design reports to meet end user expectations.Data modeling, and creation of both logical and physical data models for effective and efficient reporting and TAT on frequent requestsDesign and develop complex data queries to move and transform data from operational data sources to analytical databases. Test all new reports/deliverables and periodically review them for quality control. Data validation and attention to detail is required as this role will be accountable for quality of all the numbers delivered through dashboards or otherwise.Work effectively as part of a team to achieve individual, team and organizational objectives, sharing knowledge and skills. Positively work and influence with team members to partner together to achieve individual, customers and business goalsRequired Technical Skills:Strong experience in building complex SQL queries Advanced Excel & Macros.Strong logical & analytical concepts in databases, schemas, dimensional modellingEnd-to-end Experience in building complex MIS and dashboards especially in QlikView Programming languages like VB, JAVA, C will be good to have Experience in QlikView and Hadoop is highly desirable but not mandatoryDesired Candidate ProfileRevenue, Marketing and Planning(T1060)Perks and BenefitsPF, Medical, InsuranceRoleBusiness AnalystIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategorySystem Design/Implementation/ERP/CRMEducationUG :Any Graduate in Any SpecializationKey SkillsData AnalysisRegressiondata analystPythonSQL']

In [37]:
Naukri = pd.DataFrame({})
Naukri['Job Title'] = Job_titles
Naukri['Company Name'] = Company_name
Naukri['Location'] = Job_location
Naukri['Job Description'] = Job_desc

In [38]:
Naukri

,Job Title,Company Name,Location,Job Description
0,Data Analyst - Quant & Data Mining,Catalyst,Bangalore/Bengaluru,Job descriptionResponsibilities :- Apply your ...
1,Data Analyst,Near Pte. Ltd.,Bangalore/Bengaluru,Job descriptionThe OpportunityNear is looking ...
2,Data Analyst - Graphy,Unacademy,Bangalore/Bengaluru,Job descriptionDescriptionWork closely with th...
3,Data Analyst,Novel Office,Bangalore/Bengaluru,Job descriptionBasic Data entry operationData ...
4,ACO Data Analyst Call Rina,White Horse Manpower Consultancy Private Limited,Bangalore/Bengaluru,Job descriptionExtract weekly data for COMPANI...
5,Concentrix Innovation Labs Hiring For Data Ana...,Concentrix Daksh Services India Private Limited.,"Bangalore/Bengaluru, Delhi / NCR",Job descriptionGreetings!!Concentrix Innovatio...
6,Data Analyst / Python R/ SQL @ Bangalore,PERSOLKELLY INDIA PRIVATE LIMITED,Bangalore/Bengaluru,Job descriptionMUST HAVE EXPERIENCE IN DATA AN...
7,Data Analyst,Sobha Limited,Bangalore/Bengaluru,Job descriptionRoles and Responsibilities :Ide...
8,Data Analyst,Innovsource Services Private Limited,Bangalore/Bengaluru,Job descriptionGreetings..!!Client: Well known...
9,Data Analyst,Innovsource Services Private Limited,Bangalore/Bengaluru,Job descriptionGreetings..!!Client: Well known...

# Q3

In [39]:
# Opening the webpage
url1 = 'https://www.naukri.com/'

In [40]:
driver.get(url1)
time.sleep(3)

In [41]:
# Elements for searchbar
search_bar = driver.find_element_by_id('qsb-keyword-sugg')
search_bar
time.sleep(1)

In [42]:
search_bar.send_keys('Data Analyst')

In [43]:
# Element for the search button
search_button = driver.find_element_by_xpath("//button[@class = 'btn']")
search_button

In [44]:
# Elements for Location bar
location_bar = driver.find_element_by_id('qsb-location-sugg')
location_bar
time.sleep(1)

In [45]:
location_bar.send_keys('Bangalore')

In [46]:
# Element for the search button
search_button = driver.find_element_by_xpath("//button[@class = 'btn']")
search_button

In [47]:
search_button.click()

In [50]:
# Location filter 
location_filter = driver.find_element_by_xpath("//span[@title = 'Delhi / NCR']")
location_filter.click()
# This code breaks for some reason. Just hit shift-enter, it'll run

In [52]:
# Salary filter
salary_filter = driver.find_element_by_xpath("//span[@title = '3-6 Lakhs']")
salary_filter.click()

In [54]:
# Scrapping data for first 10 job results. 
time.sleep(5)
job_titles = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_titles

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c4a8e45d-8478-4a65-810f-1fd9df5af88d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="76bc8ec7-ffd9-4fa7-b20b-bb84f427bb0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a0db603d-b24a-453b-a9d3-f78c8e9a51bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3433b848-a239-4142-9c03-2e07a44ce0c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7d04f3fb-945c-4288-9e11-4b157553ebae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2a0b0a22-146c-4265-a97f-b4afcc288e14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ebe81b20-7224-43e3-bcf7-0edc65a161db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="cc430bde-dd7d-47a9-8d58-f2dda6d4546a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a4541c25-e14d-4960-9156-da9e0abd787b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e3bd39c0-ed10-47c8-bec1-c1d07cbd6406")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="9a89d76d-564b-482d-9ef1-e608326d051e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="abc3a00e-4a41-403d-90b0-58495437ed90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="77d9fa54-6aed-4bab-a9a7-64ce152b50d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="819ace76-9dee-4f9e-8da3-9e8752c33ca0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="44093aa5-d4e2-4f48-8ca9-c18582424263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="fb6da013-ae98-4216-8ec1-30bd00b55aef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7263e5d9-7fbb-43c4-b6e1-476b917cf162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="46660efb-3b70-4cb0-86da-26d09b72c101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4ed5feca-88b0-4c29-867c-f00ef34a814a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b6ca8f33-c376-4817-aa7e-6085f2decd5a")>]

In [55]:
Job_titles_x = []
for i in job_titles:
    Job_titles_x.append(i.text)
Job_titles_x

['Data Analyst - Graphy',
 'Data Analyst',
 'Data Analyst / Python R/ SQL @ Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Operations Data Analyst - Hiring For MNC - Upto 5 LPA - SQL Experience',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Revenue & Growth',
 'Data Analyst - Myntra Emerging Labels',
 'MIS / Data Analyst',
 'Urgent Hiring Data Analyst or Business Analyst. Call us now!',
 'Data Analyst - Operations Analyst - SQL Experience - Hiring For MNC',
 'Data Analyst (asset Management)',
 'Data Analyst',
 'Data Analyst']

In [56]:
Job_titles = Job_titles_x[:10]

In [57]:
# Finding the Job locations
job_location = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']//span")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="8d6b7f5e-7a6a-4e89-95dc-1fe33a92c794")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c5668914-339f-4ff8-bf9a-cb775af0608a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f40a0231-8ce5-49b0-8385-467850295abd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e1eef8b5-8cd1-4b1b-9e1d-7fbae664378d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4a685b35-f9dc-490f-b345-8a4519704f3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="cd236abf-d3d6-4444-a2ae-49f4d313e8bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="325f7ae4-05b2-44c3-95c4-220122ffc9ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c975bb27-6b06-489d-bbb6-d6a5a78a016f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d0f76e30-1f36-44a1-a76b-99b798c852d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="81f3943e-1e15-4d95-8c96-22a3d6d74a12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="29ffe001-b2c2-47d4-927b-7e4661e05cbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d2e6c033-38d5-4941-91dd-c33efaa04b69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="bfc35f96-1480-4c98-bd82-8e6eace0a0b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b3e1db5b-40c4-4a10-a11a-5b2cc024a8b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="36013820-e254-45ed-acd6-65444530b9bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="75676dc0-d5e2-4d8b-896a-59147ed62ec4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="187c9d84-c301-4319-98ab-0131812d64af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="af4a1586-193a-4dd7-97f0-280556b5e237")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="0fbd73d3-0d3d-4204-a290-c49817ec68ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="25fb1ae8-fa7d-4efe-acc7-45fbc7d391d7")>]

In [58]:
Job_location_x = []
for i in job_location:
    Job_location_x.append(i.text)
Job_location_x

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Bangalore',
 'Bengaluru',
 'Bangalore/Bengaluru']

In [59]:
Job_location = Job_location_x[:10]

In [60]:
# Finding the company names
company_name = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="fc778f24-1fca-4724-9540-14c4e0ef67ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="02814a2c-19d2-4c0b-a9e3-bcc226bd33dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6286b289-9241-4bca-b69b-bcb767bc7d8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="763620dc-8f5b-4285-9ea0-05fa70f10690")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="21508a91-680e-46a5-b7cf-e1a9a05e1ac0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ae4682d1-5a79-407e-b23e-fdfba4304f7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="badf2ff0-4431-4c25-b83b-ac8d5630882d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="496e939e-cff0-40ac-9e71-d9f135f80d62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="433df685-0147-4578-a458-4a0a7b872cf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f9fa9016-d075-480b-9bc2-b948cec58202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="1e04fdf1-ea2f-474a-8010-9dc056842ef1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="19d28dab-a284-430e-b16d-cca9556e2afc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="61b1a8a3-e474-4e55-bd45-d07ea2fff478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3a238fa6-8973-4a7d-a241-95f6047bd2fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6b9d6cc6-bdf0-4d43-ab5c-2ee159f58ce6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="5bc94f48-a86d-43c2-b7a1-8f79790a9f86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b86c28e9-a9b2-447d-84ce-c4097361db28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7a96f82d-15f0-4e65-8408-5d03ee1a3ff7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="66b02649-8cf0-4f96-838a-a32f04f941d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7ba2fa89-f245-4e3e-a7fa-95c8fec9c597")>]

In [61]:
Company_name_x = []
for i in company_name:
    Company_name_x.append(i.text)
Company_name_x

['Unacademy',
 'Innovsource Services Private Limited',
 'PERSOLKELLY INDIA PRIVATE LIMITED',
 'Flipkart Internet Private Limited',
 'Draup',
 'Universal Manpower Online',
 'Clarivate Analytics (TRCPL Projects Pvt Ltd.)',
 'Bion',
 'Xylem Resource Management Pvt. Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'yoodle',
 'Bytech India Private Limited',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'DocsApp',
 'ZG Staffing solutions Pvt Ltd',
 'Universal Manpower Online',
 'Webhelp',
 'Glassbeam, Inc',
 '6Sense']

In [62]:
Company_name = Company_name_x[:10]

In [63]:
# Finding the job descriptions
# To find this, we need to go inside every pages. Hence preparing the URL lists.
job_url = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_url

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c4a8e45d-8478-4a65-810f-1fd9df5af88d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="76bc8ec7-ffd9-4fa7-b20b-bb84f427bb0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a0db603d-b24a-453b-a9d3-f78c8e9a51bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3433b848-a239-4142-9c03-2e07a44ce0c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7d04f3fb-945c-4288-9e11-4b157553ebae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2a0b0a22-146c-4265-a97f-b4afcc288e14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ebe81b20-7224-43e3-bcf7-0edc65a161db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="cc430bde-dd7d-47a9-8d58-f2dda6d4546a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a4541c25-e14d-4960-9156-da9e0abd787b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e3bd39c0-ed10-47c8-bec1-c1d07cbd6406")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="9a89d76d-564b-482d-9ef1-e608326d051e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="abc3a00e-4a41-403d-90b0-58495437ed90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="77d9fa54-6aed-4bab-a9a7-64ce152b50d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="819ace76-9dee-4f9e-8da3-9e8752c33ca0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="44093aa5-d4e2-4f48-8ca9-c18582424263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="fb6da013-ae98-4216-8ec1-30bd00b55aef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7263e5d9-7fbb-43c4-b6e1-476b917cf162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="46660efb-3b70-4cb0-86da-26d09b72c101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4ed5feca-88b0-4c29-867c-f00ef34a814a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b6ca8f33-c376-4817-aa7e-6085f2decd5a")>]

In [64]:
Job_url_x = []
for i in job_url:
    Job_url_x.append(i.get_attribute('href'))
Job_url_x

['https://www.naukri.com/job-listings-data-analyst-graphy-unacademy-bangalore-bengaluru-1-to-4-years-120521500667?src=jobsearchDesk&sid=16217820071781475_3&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-analyst-innovsource-services-private-limited-bangalore-bengaluru-1-to-6-years-220521001189?src=jobsearchDesk&sid=16217820071781475_3&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-analyst-python-r-sql-bangalore-persolkelly-india-private-limited-bangalore-bengaluru-2-to-7-years-050521003763?src=jobsearchDesk&sid=16217820071781475_3&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-1-to-3-years-170521905920?src=jobsearchDesk&sid=16217820071781475_3&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-analyst-draup-bangalore-bengaluru-1-to-3-years-050521500480?src=jobsearchDesk&sid=16217820071781475_3&xp=5&px=1',
 'https://www.naukri.com/job-listings-operations-data-analyst-hiring-for-mnc-upto-5-lpa-sql-experience-universal-manpower-online-bangalore-bengaluru-2-to-7-years-110521004242?src=jobsearchDesk&sid=16217820071781475_3&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analyst-clarivate-analytics-trcpl-projects-pvt-ltd-bangalore-bengaluru-1-to-2-years-140521500814?src=jobsearchDesk&sid=16217820071781475_3&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-analyst-bion-bangalore-bengaluru-2-to-5-years-180521907004?src=jobsearchDesk&sid=16217820071781475_3&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-analyst-xylem-resource-management-pvt-ltd-bangalore-bengaluru-1-to-3-years-260421001733?src=jobsearchDesk&sid=16217820071781475_3&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-analyst-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-0-to-2-years-280421904697?src=jobsearchDesk&sid=16217820071781475_3&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-analyst-yoodle-bangalore-bengaluru-1-to-3-years-070521500321?src=jobsearchDesk&sid=16217820071781475_3&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-analyst-bytech-india-private-limited-bangalore-bengaluru-delhi-ncr-3-to-4-years-210521004502?src=jobsearchDesk&sid=16217820071781475_3&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-analyst-revenue-growth-myntra-designs-pvt-ltd-bangalore-bengaluru-2-to-3-years-230421900780?src=jobsearchDesk&sid=16217820071781475_3&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-analyst-myntra-emerging-labels-myntra-designs-pvt-ltd-bangalore-bengaluru-1-to-2-years-230421904087?src=jobsearchDesk&sid=16217820071781475_3&xp=14&px=1',
 'https://www.naukri.com/job-listings-mis-data-analyst-docsapp-bangalore-bengaluru-1-to-3-years-010521500095?src=jobsearchDesk&sid=16217820071781475_3&xp=15&px=1',
 'https://www.naukri.com/job-listings-urgent-hiring-data-analyst-or-business-analyst-call-us-now-zg-staffing-solutions-pvt-ltd-bangalore-bengaluru-1-to-3-years-220521002150?src=jobsearchDesk&sid=16217820071781475_3&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-analyst-operations-analyst-sql-experience-hiring-for-mnc-universal-manpower-online-bangalore-bengaluru-2-to-7-years-110521004331?src=jobsearchDesk&sid=16217820071781475_3&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-analyst-asset-management-webhelp-bangalore-bengaluru-bangalore-3-to-3-years-300421001880?src=jobsearchDesk&sid=16217820071781475_3&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-analyst-glassbeam-inc-bengaluru-bangalore-1-to-3-years-020119500080?src=jobsearchDesk&sid=16217820071781475_3&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-analyst-6sense-bengaluru-bangalore-1-to-4-years-291019501979?src=jobsearchDesk&sid=16217820071781475_3&xp=20&px=1']

In [65]:
Job_url = Job_url_x[:10]

In [66]:
Job_desc = []
for i in Job_url:
    driver.get(i)
    time.sleep(3)
    try:
        job_desc = driver.find_element_by_xpath("//section[@class = 'job-desc']")
        Job_desc.append(job_desc.text.replace('\n', ''))
    except NoSuchElementException:
        Job_desc.append('-')
        
Job_desc

['Job descriptionDescriptionWork closely with the business development team to help them scrap data from social media platforms like Instagram, YouTube, Linkedin, etcShould possess a Business mindset and understand upcoming trendsShould be able to identify different categories and scrap data accordinglyUnderstanding of data management using excelRequirementsUnderstanding of scripting languagesSound understanding of Data extraction and web scrapingShould have a logical understanding of Graphy businessExperience required - 1-4 yrsSkill Required - Web Scraping Python Requests,HTML parsing, Pandas will be an added advantageEducation - B.Tech (Computer Science) is preferredBenefitsTop of the Market SalaryGreat learning environmentRoleAssociate/Senior Associate -(NonTechnical)Industry TypeEducation / TrainingFunctional AreaITES, BPO, KPO, LPO, Customer Service, OperationsEmployment TypeFull Time, PermanentRole CategoryVoiceEducationUG :Any Graduate in Any SpecializationPG :Post Graduation Not RequiredKey SkillsExcelData managementSocial mediaData Analyst',
 'Job descriptionGreetings..!!Client: Well known Ecommerce CompanyDesignation: Data AnalystExperience: 1 YearCTC: 4.5 L to 5 LacsMandatory skills: Microsoft Excel / SQL / Basic Programming knowledge - R/Python /Regression/Forecasting/Fashion(D1015)/SQL query building / advanced excel/macros knowledge / Python/R / A/B testing / PowerBILocation: Bangalore (WFH)Contract Period: 6 Months to 1 YearRoles and ResponsibilitiesDashboard development and generation for daily, weekly, monthly and all reporting needs. Gather user requirements for new reports and enhance existing reports. Interpret needs and design reports to meet end user expectations.Data modeling, and creation of both logical and physical data models for effective and efficient reporting and TAT on frequent requestsDesign and develop complex data queries to move and transform data from operational data sources to analytical databases. Test all new reports/deliverables and periodically review them for quality control. Data validation and attention to detail is required as this role will be accountable for quality of all the numbers delivered through dashboards or otherwise.Work effectively as part of a team to achieve individual, team and organizational objectives, sharing knowledge and skills. Positively work and influence with team members to partner together to achieve individual, customers and business goalsRequired Technical Skills:Strong experience in building complex SQL queries Advanced Excel & Macros.Strong logical & analytical concepts in databases, schemas, dimensional modellingEnd-to-end Experience in building complex MIS and dashboards especially in QlikView Programming languages like VB, JAVA, C will be good to have Experience in QlikView and Hadoop is highly desirable but not mandatoryDesired Candidate ProfileRevenue, Marketing and Planning(T1060)Perks and BenefitsPF, Medical, InsuranceRoleBusiness AnalystIndustry TypeIT Services & ConsultingFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategorySystem Design/Implementation/ERP/CRMEducationUG :Any Graduate in Any SpecializationKey SkillsData AnalysisRegressiondata analystPythonSQL',
 "Job descriptionMUST HAVE EXPERIENCE IN DATA ANALYST USING PYTHON / R, AND WRITING SQL,MUST HAVE EXPERIENCE IN DASHBOARD.MUST HAVE EXPERIENCE IN QUALITATIVE AND QUNATITATIVE METHODS.MUST WILLING TO WORK IN ANY SHIFTS.Role:Write SQL queries to measure performance and visibility and based on internal requests from the team.To efficiently manage inter function interactions with all the stakeholders.Be the central depository for all Supply related performance data, reports, contact.Calculate Fill Rate for all Monetised Properties on a weekly basis.Assist with business planning efforts supported by quantitative and qualitative analysis.Create Base Allocation Sheet for all platform level events with complete clarity on supply.Maintain Historical Data Points for BU wise spend data on the monthly basis and Coordinate with respective demand spocs for the same.Create Dashboards and Visualize data Useful for the team.Requirements1. Work-ex should be in the analytical domain with strong experience with Advanced Excel, SQL and Python /R is Must.2. Preferred work-ex 1-4 years.3. Candidates must have at least a bachelor's degree from Tier one Institute. Additional Courses on analytics online would be a plus.4. Strong Stakeholder Management Skills and a team player.4. Knowledge of Tableau/Google data studio would be a Plus.IF INTERSTED, SHARE YOUR RESUME ALONG WITH CURRENT NET, EXPECTED TAKE HOME, MOTICE PERIOD AND REASON FOR LEAVING TO roopa_kotian@kellyservices.co.in or SMS to 9513417626By submitting your curriculum vitae or personal data to us in connection with your job application, you are deemed to have read and agreed to the terms of our Privacy Policy, and consented to the collection, use and disclosure of your personal data by us and our affiliates, in accordance with our Privacy Policy. Please visit www.kellyservices.co.in for a copy of our Privacy Policy. If you wish to withdraw your consent, please drop us an email to let us know.We at Kelly Services India do not ask job seekers to pay any kind of fee, make cash or online payment through any channel in exchange of interviews, offer letters or job for Kelly services or any of our clients . Nor do we ask our candidates to supply credit card numbers, PIN numbers, OTP details relating to bank accounts. If you receive any suspicious requests purportedly from Kelly Services India, please alert us at KellyServicesIndia@kellyservices.co.in.RoleData AnalystIndustry TypeInternetFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any Graduate in Any SpecializationKey SkillsRBankingData AnalysisDATA ANALYSTSQLPython",
 'Job descriptionAbout the role:Data Analyst is an Individual Contributor role where you will be responsible for tracking key metrics through building and maintaining data pipelines and dashboards for visualization. Along with this, you will be expected to have a very good handle on different data streams and address the organizationâ€™s data requirements. This role will work across functions with other groups in analytics as well as other departments in the company and will be expected to frequently work on data requests from various stakeholdersWhat youâ€™ll do:Gather user requirements for new reports and enhance existing reports. Interpret needs and design reports to meet end user expectationsCreate and maintain reporting tools and applications to support all strategic and tactical needs of the company. Dashboard development and generation for daily, weekly, monthly and all reporting needsDesign and develop complex data queries to move and transform data from operational data sources to analytical databasesTest all new reports/deliverables and periodically review them for quality controlWhat youâ€™ll need:Technical capabilities: Strong experience in SQL - should be able to build complex and optimized queriesStrong experience in Excel - should be comfortable with advanced functions. Understanding of macros is beneficialStrong logical & analytical concepts in databases, schemas, dimensional modellingGood to have : Basic understanding of scripting languages (R, Python, etc.)Good to have : Experience with BI tools (Power BI, Tableau, Qlikview, Datastudio, etc)Good to have : Working knowledge of data warehousing infra tools like HiveRequired abilities / competencies:Attention to detail and strong data orientationAbility to adapt to and learn new tools/ techniques quicklyVery good written and verbal communication skillsAbility to multitask and work on a diverse range of requirementsStrong rigor in automating repetitive tasksGood to have : understanding of ecommerce/ retail businessWork ex:1+ Years of experience in relevant roleRoleData AnalystIndustry TypeRetailFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any Graduate in Any SpecializationPG :Any Postgraduate in Any SpecializationKey SkillsRHiveExcelBig DataData AnalysisTableauData WarehousingQlikViewSQLPython',
 'Job descriptionFinding Data flow issues in system and works with developers to restrict the issue occurring scenarios proactively.Creating automated alert mails whenever exceptions found in the system to respective stakeholders.Solving external and internal customer data queries through tools and technologies / manual research whenever required.Testing the Developer codes solves the business issues parallelly.Supporting initiatives for data integrity and normalization.Providing technical expertise on data storage structures, data mining, and data cleansing.Evaluating changes and updates to source production systems.Provide quality assurance of imported data, working with quality assurance analyst if necessary.Managing master data, including creation, updates, and deletion.Locate and define new process improvement/ existing process optimization opportunities.What Will NeedAbility to integrate disparate data sourcesExtensive experience to create Excel charts, Fuzzy Match, Pivots and AnalysisStrong attention to detail, with a research-focused mindsetExcellent critical thinking and problem-solving skillsHigh motivation, good work ethic and maturityExposure to tools/platforms (Databricks, MySQL, Mongo DB, Postgres)Demonstrated experience in handling large data sets and relational databases.Ability to work with stakeholders to assess potential risks.What Will NeedKnowledge of big data/ analytics conceptsKnowledge of programming (Python/R)Good Exposure to develop macros in ExcelRoleAssociate/Senior Associate -(NonTechnical)Industry TypeIT Services & ConsultingFunctional AreaITES, BPO, KPO, LPO, Customer Service, OperationsEmployment TypeFull Time, PermanentRole CategoryVoiceEducationUG :Any Graduate in Any SpecializationPG :Post Graduation Not RequiredKey Skillsdata cleansingPDFProcess improvementMySQLConsultingdata integrityData miningMacrosAnalyticsPython',
 'Job descriptionReceiving, checking & processing invoices, and tracking payments to vendors.Execute legal documents related to external service providersCreation of Purchase RequestsHandle vendor Support/QueriesCheck with dispatch & pick up updatesRequired Candidate profileExperience working with courier vendors, business teams & office staff.Knowledge of vendor invoicing & payments.Experience in logistics handling dispatchWorking knowledge of procurement systems.RoleLogistics ExecutiveIndustry TypeCourier / LogisticsFunctional AreaPurchase / Logistics / Supply ChainEmployment TypeFull Time, PermanentRole CategoryLogisticsEducationUG :Any Graduate in Any SpecializationKey SkillsVendor Paymentsoperation data analystInvoice ProcessingInventory ManagementVendor ReconciliationSupply Chain OperationsWarehouse ManagementOperationsdata analystoperations executivesql',
 'Job descriptionThis function is responsible for working with the commercial strategy team to develop pricing applications.This function also includes understanding the customer dynamics to build and maintain customer insights dashboardShe/he is responsible for liaising with sales and other stakeholders to manage systematic price increasePrepare reports and info-graphics for reporting to senior management on a regular basisCollaborate with various teams to gather required dataAnalyze data and prepare reports to measure performance of a product/business units and provide meaningful insights to drive decision makingProfile Sought:This role requires a business-credible individual who possesses a commercial mindset and a data-driven approach. The candidate should have a minimum of 1 year coding experience in data management, or in data warehousing or at least have experience working in structured data environments.Knowledge, Skills, and Qualifications:1-2 years experience in working in ETL1-2 years experience with Relational Database Systems and SQLExperience in Python or R is preferredGood analytical, verbal, and written communication skillsEducationB.E. / B. TECH (Computer science preferred)RoleSystem AnalystIndustry TypeIT Services & ConsultingFunctional AreaIT Software - QA & TestingEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any Graduate in Any SpecializationPG :Any Postgraduate in Any SpecializationKey SkillsGraphicsComputer scienceData managementCodingStock exchangeAnalyticalIntellectual propertyData warehousingSQLPython',
 'Job descriptionYou will work with multiple stakeholders (Technical and Functional) to articulate functional requirements, you will also identify areas for data quality improvement and help to resolve data quality problems.RoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Tech/B.E. in Any SpecializationPG :Any Postgraduate in Any SpecializationDoctorate :Doctorate Not RequiredKey SkillsCommunication Skills Web Analytics Product ManagementData Analysis Product Development',
 'Job descriptionRoles and ResponsibilitiesPC Services Data AnalystThis position is located in Bangalore, India.The PC Services Data Analyst is responsible to extract data to provide post-sale support in coordination with our internal sales team as well as our Channel Partners. This position will be working closely with HP Sales and Product Category teams in Greater Asia and India market along with a variety of internal support organizations as required. As a member of the Services team, this position engages closely with the data analytics team to drive business excellence by providing accurate data for Demand Gen activities on a daily basis. This individual will develop and enhance business data and category related admin activitiesRole Responsibilities:Owns PC Services Data extraction responsibility used for DemandGen activities. (CAMs tool, IBSVCube and Channel DNA)Responsible for providing data related support for Sales Coverage and funnel development.Reporting & analytics: Orders Performance tracking; Country/Enterprise/Channel Partner/Sales Performance analytics; Services & Solutions AUP/repricing assessmentAd-hoc business reporting, modeling, and special projectsAdmin support (PO generation for internal and vendor related)Education and Experience Required:Typically 1-3 years experience in data extraction, reporting, or related functional area.First level university degree.Knowledge and Skills Required:Demonstrated business acumen and technical knowledge (VBA scripts) within data extraction and area of responsibility.Strong analytical thinking, technical analysis, and data manipulation skills.Ability to learn and draw on new analytical techniques.Strong knowledge of Excel (includes Macros) and financial modeling.Strong verbal and written communication skillsRoleData AnalystIndustry TypeHardware & NetworkingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any Graduate in Any SpecializationPG :Post Graduation Not RequiredDoctorate :Doctorate Not RequiredKey SkillsChannel PartnersProduct SalesData AnalysisData ExtractionBusiness ExcellenceData AnalyticsMacrosDemand Gen Activities',
 '-']

In [67]:
Naukri = pd.DataFrame({})
Naukri['Job Title'] = Job_titles
Naukri['Company Name'] = Company_name
Naukri['Location'] = Job_location
Naukri['Job Description'] = Job_desc

In [68]:
Naukri

,Job Title,Company Name,Location,Job Description
0,Data Analyst - Graphy,Unacademy,Bangalore/Bengaluru,Job descriptionDescriptionWork closely with th...
1,Data Analyst,Innovsource Services Private Limited,Bangalore/Bengaluru,Job descriptionGreetings..!!Client: Well known...
2,Data Analyst / Python R/ SQL @ Bangalore,PERSOLKELLY INDIA PRIVATE LIMITED,Bangalore/Bengaluru,Job descriptionMUST HAVE EXPERIENCE IN DATA AN...
3,Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru,Job descriptionAbout the role:Data Analyst is ...
4,Data Analyst,Draup,Bangalore/Bengaluru,Job descriptionFinding Data flow issues in sys...
5,Operations Data Analyst - Hiring For MNC - Upt...,Universal Manpower Online,Bangalore/Bengaluru,"Job descriptionReceiving, checking & processin..."
6,Data Analyst,Clarivate Analytics (TRCPL Projects Pvt Ltd.),Bangalore/Bengaluru,Job descriptionThis function is responsible fo...
7,Data Analyst,Bion,Bangalore/Bengaluru,Job descriptionYou will work with multiple sta...
8,Data Analyst,Xylem Resource Management Pvt. Ltd.,Bangalore/Bengaluru,Job descriptionRoles and ResponsibilitiesPC Se...
9,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,-

# Q4

In [69]:
# Glassdoor URL
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [72]:
# Entering the job search
job_search = driver.find_element_by_id('sc.keyword')
job_search.click()

In [73]:
# Entering the location search
location_search = driver.find_element_by_id('sc.location')
location_search

In [74]:
# Running this because location_search.clear() didn't work.
for i in range (0,9):
    location_search.send_keys(Keys.BACK_SPACE)

In [75]:
job_search.send_keys('Data Scientist')
location_search.send_keys('Noida')

In [76]:
search_button = driver.find_element_by_xpath("//button[@class = 'gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

In [77]:
time.sleep(5)
# Extracting Company Names
company_name = driver.find_elements_by_xpath("//div[@class = 'd-flex justify-content-between align-items-start']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c1d47d42-a151-4cb9-92c4-e394c785c47d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ca3c9ed3-3f2c-4c4d-9181-74ea7bf22c0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="22b79228-4983-46db-ba7b-bd46568987f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="9e13b008-2029-4bc0-964c-52a9a49e2870")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ee0e7f37-2efc-4266-bfc4-eaecc58729d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="da590332-ff74-4eb6-bd86-75d79fe80965")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="12f88076-66fa-4103-a657-8f27c8b82c07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="24fe00ff-ed22-4ee7-85ee-1a2f7d7d524b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="26c4743f-da22-4642-8fcd-ea45c7aeb828")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="15b6e2da-7137-41d2-bafa-c0213c1b2b61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="74a8581d-49e7-4150-a812-f818cbb19db1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="711af248-dcf3-4607-8589-31a350767754")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="498250b7-56a9-4a33-a748-702adb5a55c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d9742c9b-1c41-4be0-9c04-b664c00b24bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b71ec2fc-8b49-468b-bf97-234904aa72bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="68447f89-51ae-4f6d-8768-8523ed9f6763")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2afceb6b-32f3-4e21-9fea-3acdad0e931b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="5ab59222-b401-400b-9b73-4a85575c3524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="dd9b2f44-cc8e-4fd5-b279-89cb8bcb6478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6864478a-25b0-4d9e-8937-990a34bf4eb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="74d7a443-1801-4fe8-b275-e58a0831b6f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="361ea1f9-44d9-423b-80a4-2cba52ba1d47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c5c52994-7f27-43d0-b70d-9afe59e178d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="03624bd7-4bcc-4dab-8a6b-25590c938145")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="55351224-ef5d-43a8-a19f-42d349578bb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="40be72c9-010b-4e9c-a205-deb541396434")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b2db88e9-e019-40a9-816c-6cf566a14af6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="98bf699d-72d6-4fcf-94d1-b18560d1ce2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e70427e0-b1c2-4e3e-979d-342c0eb88d96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="1a742575-e099-4c9e-9957-13ac6cdba0b0")>]

In [78]:
Comp_name = []
for i in company_name:
    Comp_name.append(i.text)
Company_Name = Comp_name[:10]
Company_Name

['Adobe',
 'CRMNEXT',
 'NatWest Group',
 'Ericsson',
 'Biz2Credit Inc',
 'WishFin',
 'CRMNEXT',
 'Adobe',
 'Techlive',
 'dunnhumby']

In [79]:
date_post = driver.find_elements_by_xpath("//div[@class = 'd-flex align-items-end pl-std css-mi55ob']")
date_post

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a9cec6e4-1503-4c4e-b638-44148b1c1872")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4550ae19-3842-448a-8e1d-b8f07d828e9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7722144c-8978-48ce-a2aa-d30624ad6915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7b9adced-bf19-49f7-a75a-3bcb78a7692d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="080685ef-ac0d-440b-a9e5-6817c145a546")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="8b35e116-167e-4082-80f5-da22143f4c8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4cd9b3f1-a281-412c-a9dc-9f228201e03f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="53f27ebe-9e70-4a58-98b9-f5db0979ccb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6c9af1f0-24f5-4f5f-8312-6fb296ff9b49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d764a6d1-5dd5-4142-a66a-bc4a7650dfc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6760ac5a-de80-4509-a130-f8a1adb42bc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="0a0d283e-e1bc-417e-8b93-ace1148cd338")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="90955941-e330-4229-882c-34bd4d57a1ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f4bda267-8cb5-49cb-b152-368f23388dbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7542b26c-e309-4223-bb0a-d7d46f1b115b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2946a7d2-4582-42da-900b-3058b9c53e98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="58f003f4-ba75-4c9f-b7c1-1dafecbef1bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="23a8a8d5-6566-4e26-9e99-914e0fea93b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3a923332-f252-4191-bda0-f7b7b7380af7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e2cb9856-f6aa-4f3e-a0ba-de101c6a3660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a499ef82-62a6-46ac-9c5c-e5b29c878110")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b0f97e40-9369-4774-a412-5f432fb180e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="27c9678f-4be5-4965-8649-5d876486c09c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="18f1778f-11c1-4043-8181-f780c9bd869a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b6d75d3b-8759-4620-ac4f-6fa840ec659a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ca6e15f3-889a-47f2-a7ad-a75f768b2cd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="34de0fb6-c274-481e-8e9f-00823a40a249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a3ae88d1-50a3-40a3-b7a1-cddb154cab50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="584b45a7-1308-46c9-9238-72d61498b1e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="26c1dd26-03f8-436d-89c3-df2bc845a8b4")>]

In [80]:
Date_post = []
for i in date_post:
    Date_post.append(i.text)
Date_posted = Date_post[:10]
Date_posted

['29d', '16d', '24h', '4d', '30d+', '30d+', '16d', '2d', '30d+', '2d']

In [81]:
rate = driver.find_elements_by_xpath("//span[@class = 'css-19pjha7 e1cjmv6j1']")
rate

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="a052624a-c50e-448a-98b6-a05d0aee9d90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7393e041-34c5-48eb-80ff-ebfdf21f230d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="bbf1219a-328d-46b1-8328-d33cfec3b23f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="20849524-0b88-4adf-af9e-82d9ce070af3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3753f3fd-f51c-42af-b3cf-b3d3f2ac28fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="52f28ffc-c3c9-41ac-b390-f081f86822ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d02e3fcb-4b2d-4546-b109-fdfa9dab2d5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="7a9cc041-6137-45eb-abfe-b9d41af5a9b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="45387de8-452d-4f02-8434-6e9b54ea3c34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f6a3fedf-4429-4b79-a6db-964af665ceca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ec93c589-e1e4-4c8e-86fc-36d93e52a5a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="0b1d96e0-2ab7-4f5b-8e86-a2fba3df004b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="68b9a6d1-9fae-4d92-a20f-dea5b78fc23e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="8b1437f9-b5ee-4ca6-aeb7-ca309eb99620")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="cc16c67d-93b8-49eb-9412-def1fd47dcfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="72c62abc-175f-41e4-8974-bef7d768fab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="919f00ad-b46e-497b-81ad-a45a3f3b3566")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f5d96a3a-fce9-434c-8196-e77df0eb0a3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d97f80b7-d59d-481c-a0a0-558042508a7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="aae5b310-1708-46ef-bd79-ac2faa0f2aa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c2606c9b-ace9-4998-b22d-5793fcc394e2")>]

In [82]:
Rate = []
for i in rate:
    Rate.append(i.text)
Rating = Rate[:10]
Rating

['4.4', '3.6', '3.9', '4.1', '3.8', '3.8', '3.6', '4.4', '5.0', '4.1']

In [83]:
Glassdoor = pd.DataFrame({})
Glassdoor['Company Name'] = Company_Name
Glassdoor['Date Posted'] = Date_posted
Glassdoor['Rating'] = Rating

In [84]:
Glassdoor

     Company Name Date Posted Rating
0           Adobe         29d    4.4
1         CRMNEXT         16d    3.6
2   NatWest Group         24h    3.9
3        Ericsson          4d    4.1
4  Biz2Credit Inc        30d+    3.8
5         WishFin        30d+    3.8
6         CRMNEXT         16d    3.6
7           Adobe          2d    4.4
8        Techlive        30d+    5.0
9       dunnhumby          2d    4.1

# Q5

In [85]:
url = ('https://www.glassdoor.co.in/Salaries/index.html')
driver.get(url)

In [101]:
# Initializing the Job search
job_search = driver.find_element_by_id('KeywordSearch')
job_search

In [102]:
job_search.send_keys('Data Scientist')

In [103]:
location_search = driver.find_element_by_id('LocationSearch')
location_search

In [104]:
location_search.clear()

In [105]:
location_search.send_keys('Noida')

In [106]:
search_button = driver.find_element_by_id('HeroSearchButton')
search_button.click()
time.sleep(3)

In [107]:
min_sal = driver.find_elements_by_xpath("//div[@class = 'common__RangeBarStyle__values d-flex justify-content-between ']")
min_sal

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="399c56f0-2d45-4df3-b6e7-0b9d5f3680dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="9f0f1841-89ae-4857-8420-567ee2efb515")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="202a0cfa-f51b-44d6-a4ce-7c2aebc34b8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="8a138185-6172-4078-b914-e3574e492d83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="5396105b-1017-462b-81fc-9f990ef857a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="5c22e07d-fd08-46da-b7b0-3c3d68510d01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="21e27be8-1851-4707-9dc2-7fa57e01320b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ad0c6b93-c674-45ed-a6c1-ee17eaf4b71f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="52be70d6-2357-4dda-b4c4-e3d23b1a3f33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4d43b3fd-740d-4364-9203-919c21ff1858")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="d4ec25da-6122-42a6-a327-e64cbdb3dc05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e98bff69-7db1-44b2-ba9d-d4150910284b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="295cb8b2-8cd5-48c1-81db-eee115f7d85a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="aadbbae4-0b72-417a-a1c2-98770e4a176c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="790fdd2c-afc7-4636-8482-9c17b517b1e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="59daae7a-8e78-4d17-8e57-d6235130504a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="443573c3-e223-41e0-899e-5498e273fc07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="27e38128-8189-433b-88ff-5b3a06d889ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6563debe-3112-4ef2-a56a-c3121b89200c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="659f76e5-51c0-4ada-89ed-9da41c7fbe56")>]

In [108]:
test = []
for i in min_sal:
    test.append(i.text)
Test = test[:10]
Test

['â‚¹343K\nâ‚¹1,250K',
 'â‚¹586K\nâ‚¹2,730K',
 'â‚¹577K\nâ‚¹2,213K',
 'â‚¹355K\nâ‚¹1,613K',
 'â‚¹450K\nâ‚¹11,622K',
 'â‚¹1,069K\nâ‚¹1,520K',
 'â‚¹502K\nâ‚¹1,465K',
 'â‚¹202K\nâ‚¹1,809K',
 'â‚¹575K\nâ‚¹1,520K',
 'â‚¹1,014K\nâ‚¹2,149K']

In [109]:
Min_sal = []
for i in Test:
    Min_sal.append(i.partition('\n')[0])
Min_sal

['â‚¹343K',
 'â‚¹586K',
 'â‚¹577K',
 'â‚¹355K',
 'â‚¹450K',
 'â‚¹1,069K',
 'â‚¹502K',
 'â‚¹202K',
 'â‚¹575K',
 'â‚¹1,014K']

In [110]:
Max_sal = []
for i in Test:
    Max_sal.append(i.partition('\n')[2])
Max_sal

['â‚¹1,250K',
 'â‚¹2,730K',
 'â‚¹2,213K',
 'â‚¹1,613K',
 'â‚¹11,622K',
 'â‚¹1,520K',
 'â‚¹1,465K',
 'â‚¹1,809K',
 'â‚¹1,520K',
 'â‚¹2,149K']

In [111]:
avg = driver.find_elements_by_xpath("//div[@class = 'col-2 d-none d-md-flex flex-row justify-content-end']")
avg

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="dd0cd6cc-9b64-4328-8ea4-7eae5cd7f6f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b612e64b-4461-4fe5-935b-3e5323e7d3a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2fd647e0-f44e-4f74-9a09-c20dde3e4578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="285c4cc3-4314-471b-a6d9-3914926c3bb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="51e34e2e-d4f3-47b5-aede-beb192e98391")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="dd015428-3f97-4db2-903b-c9d8947aca55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6ee5c03f-a83e-4e0f-9bc7-f4def6cd57df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="8f82293b-4abe-457a-8941-b10513faa113")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="5581dbbd-78de-454d-9d29-21418ab13f3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2d8bf600-5a75-4206-bddd-5ecf0e69b8ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="e9999e49-32ec-490f-b2b2-3ff5698c0843")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2bf473c0-964d-4006-b487-0baadfe2e30a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="06930705-0519-4e90-a944-7969f5ba52e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="0169a006-aed5-4062-9323-c888a2d3c16e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2bebcfb2-733b-4956-a0cd-174ec545a4d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ca184898-490d-4af7-a337-2d878c9d6535")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="3394f40d-2ea2-4874-b5aa-e9000776bb8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="206c9811-9847-460f-ac64-89462677e157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c793b889-a451-4a97-9b04-3201e0969eb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="70a499d7-a8a4-4c25-a94b-ea23ed5f8464")>]

In [112]:
Avg = []
for i in avg:
    Avg.append(i.text.replace('\n/yr', ''))
Average_salary = Avg[:10]
Average_salary

['â‚¹ 6,14,306',
 'â‚¹ 9,00,000',
 'â‚¹ 11,46,533',
 'â‚¹ 7,38,057',
 'â‚¹ 12,39,781',
 'â‚¹ 13,36,142',
 'â‚¹ 8,15,192',
 'â‚¹ 11,35,221',
 'â‚¹ 11,44,243',
 'â‚¹ 14,13,288']

In [113]:
comp_name = driver.find_elements_by_xpath("//p[@class = 'm-0 ']")
comp_name

[<selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c0b8273e-4bba-4737-aa55-dd1aecca8d47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ba9db868-5f1d-41ed-b15a-9f175aaea596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="39e5bb7a-0dd6-40e2-bb75-5690cdb5692d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c3f8e53c-bbca-45f8-a571-ff400edeef7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b8cec70b-d110-40d5-9863-96828fc4bc4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="2840dfe0-df0a-442f-a062-32c47c4d4624")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="6b829fe6-f60b-444e-9948-6bb24896663b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="f7a75e23-519e-4d85-b773-9d7a3ee41d13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="c2a37293-ebaf-4d26-a397-70d0a20c6ef2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="4edd3162-612f-4f92-a51f-e615ca7ca51d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="75e67163-e358-49ab-a912-d3ee8d92519b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b6fb4546-251a-4b82-8b7d-efe3f9cff114")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="002ba336-d842-4f04-a498-a18588b83852")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="77bae34c-88de-407b-aed4-57c14b1c533f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="17e4f752-f6ea-4201-8dcf-235e7cc21371")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="5a4ac706-8723-4103-a069-222322a1dc84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="0bea4b67-e73a-4ed9-a32a-cbeb94aae563")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="872de18d-b7ef-431d-b597-e25502046ec2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="ba779be6-5a67-4e49-aa39-71556f0d5c39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3e0a8800572b5816e4881fff9dc8726", element="b5cca889-4bd0-4bb4-872f-d83a5458e228")>]

In [114]:
Comp_name = []
for i in comp_name:
    Comp_name.append(i.text)
Company_name = Comp_name[:10]
Company_name

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

### Ratings are not available in this page.

In [115]:
Glassdoor = pd.DataFrame({})
Glassdoor['Company Name'] = Company_name
Glassdoor['Minimum Salary'] = Min_sal
Glassdoor['Maximum Salary'] = Max_sal
Glassdoor['Average Salary'] = Average_salary

In [116]:
Glassdoor

                Company Name Minimum Salary Maximum Salary Average Salary
0  Tata Consultancy Services          â‚¹343K        â‚¹1,250K     â‚¹ 6,14,306
1                        IBM          â‚¹586K        â‚¹2,730K     â‚¹ 9,00,000
2                  Accenture          â‚¹577K        â‚¹2,213K    â‚¹ 11,46,533
3         Ericsson-Worldwide          â‚¹355K        â‚¹1,613K     â‚¹ 7,38,057
4                  Delhivery          â‚¹450K       â‚¹11,622K    â‚¹ 12,39,781
5         UnitedHealth Group        â‚¹1,069K        â‚¹1,520K    â‚¹ 13,36,142
6         Valiance Solutions          â‚¹502K        â‚¹1,465K     â‚¹ 8,15,192
7              ZS Associates          â‚¹202K        â‚¹1,809K    â‚¹ 11,35,221
8                EXL Service          â‚¹575K        â‚¹1,520K    â‚¹ 11,44,243
9     Optum Global Solutions        â‚¹1,014K        â‚¹2,149K    â‚¹ 14,13,288

# Q6

In [117]:
url = ('https://www.flipkart.com/')
driver.get(url)

In [118]:
login_close = driver.find_element_by_xpath("//button[@class = '_2KpZ6l _2doB4z']")
login_close.click()

In [119]:
searchbar = driver.find_element_by_xpath("//input[@class = '_3704LK']")
searchbar

In [120]:
searchbar.send_keys('Sunglasses')

In [121]:
searchbutton = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
searchbutton.click()

    Finding elements for:
        
        Brand
        Product Description
        Price
        Discount %
        
    And move to the next page.

In [123]:
Brand = []
Product_Description = []
Price = []
Discount = []
for a in range (0,3):
    
    # Extracting the Brand:
    brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
    
    # Extracting Product Description:
    product = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
    for j in product:
        Product_Description.append(j.text)
        
    # Extracting Price:
    price = driver.find_elements_by_xpath("//div[@class = '_30jeq3']")
    for k in price[:40]:
        Price.append(k.text)
        
    # Extracting Discount:
    discount = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']")
    for l in discount[:40]:
        Discount.append(l.text)
        
    # Moving to the next page:
    try:
        nextpage = driver.find_element_by_xpath("//a[@class = '_1LKTO3'][2]")
        nextpage.click()
    except:
        nextpage = driver.find_element_by_xpath("//a[@class = '_1LKTO3']")
        nextpage.click()
    
    # Page load time
    time.sleep(3)

In [124]:
Flipkart = pd.DataFrame({})
Flipkart['Brand'] = Brand[:100]
Flipkart['Product Description'] = Product_Description[:100]
Flipkart['Price'] = Price[:100]
Flipkart['Discount'] = Discount[:100]

In [125]:
Flipkart

,Brand,Product Description,Price,Discount
0,ROYAL SON,UV Protection Over-sized Sunglasses (65),â‚¹699,53% off
1,New Specs,UV Protection Retro Square Sunglasses (Free Size),â‚¹289,79% off
2,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),â‚¹499,77% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),â‚¹570,28% off
4,Fastrack,UV Protection Aviator Sunglasses (Free Size),â‚¹733,18% off
...,...,...,...,...
95,ROZZETTA CRAFT,"Night Vision, Riding Glasses Wayfarer Sunglass...",â‚¹399,80% off
96,Singco,Polarized Retro Square Sunglasses (58),â‚¹349,82% off
97,Fravy,UV Protection Retro Square Sunglasses (Free Size),â‚¹329,83% off
98,GANSTA,"UV Protection, Gradient Oval Sunglasses (58)",â‚¹207,88% off
99,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",â‚¹899,55% off

# Q7

In [126]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [127]:
allreviews = driver.find_element_by_xpath("//div[@class = '_3UAT2v _16PBlm']")
allreviews.click()
time.sleep(3)

    Finding elements for: 
    
        Rating
        Review Summary
        Full Review
        
    And moving to the next page.

In [129]:
Rating = []
Review_Summary = []
Full_Review = []
for i in range(0,10):
    
    # Fetching the rating
    rating = driver.find_elements_by_xpath("//div[@class = 'col _2wzgFH K0kLPL']/div[1]")
    for i in rating:
        Rating.append(i.text[0])
    
    # Fetching Review Summary
    reviewsummary = driver.find_elements_by_xpath("//p[@class = '_2-N8zT']")
    for l in reviewsummary:
        Review_Summary.append(l.text)
        
    # Fetching Full Review
    fullreview = driver.find_elements_by_xpath("//div[@class = 't-ZTKy']")
    for m in fullreview:
        Full_Review.append(m.text.replace('\n', ''))
        
    # Moving to the next page
    try:
        nextpage = driver.find_element_by_xpath("//a[@class = '_1LKTO3'][2]")
        nextpage.click()
    except:
        nextpage = driver.find_element_by_xpath("//a[@class = '_1LKTO3']")
        nextpage.click()
    
    # Page load time
    time.sleep(3)

In [130]:
Flipkart = pd.DataFrame({})
Flipkart['Rating'] = Rating
Flipkart['Review_Summary'] = Review_Summary
Flipkart['Full_Review'] = Full_Review

In [131]:
Flipkart

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.Iâ€™m am ver...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far itâ€™s been an AMAZING experience coming ...
...,...,...,...
95,5,Awesome,The phone is completely goodAs far as camera A...
96,3,Decent product,Everything u ll like it when u use this iPhone...
97,5,Super!,It's a great phone. From camera to display eve...
98,5,Awesome,Canâ€™t beat the software and hardware integrati...
99,5,Classy product,We are on apple ecosystem for almost eight yea...

# Q8

In [135]:
url = ('https://www.flipkart.com/')
driver.get(url)

In [138]:
searchbar = driver.find_element_by_xpath("//input[@class = '_3704LK']")
searchbar

In [139]:
searchbar.send_keys('Sneakers')

In [140]:
searchbutton = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
searchbutton.click()

    Finding elements for: 

        Brand
        Product Description
        Price
        Discount Percentage

    And moving to the next page.

In [141]:
Brand = []
Product_Description = []
Price = []
Discount = []
for a in range (0,3):
    
    # Extracting the Brand:
    brand = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
    
    # Extracting Product Description:
    product = driver.find_elements_by_xpath("//div[@class = '_2B099V']/a[1]")
    for j in product:
        Product_Description.append(j.text)
        
    # Extracting Price:
    price = driver.find_elements_by_xpath("//div[@class = '_30jeq3']")
    for k in price[:40]:
        Price.append(k.text)
        
    # Extracting Discount:
    discount = driver.find_elements_by_xpath("//div[@class = '_3Ay6Sb']")
    for l in discount[:40]:
        Discount.append(l.text)
        
    # Moving to the next page:
    try:
        nextpage = driver.find_element_by_xpath("//a[@class = '_1LKTO3'][2]")
        nextpage.click()
    except:
        nextpage = driver.find_element_by_xpath("//a[@class = '_1LKTO3']")
        nextpage.click()
    
    # Page load time
    time.sleep(3)

In [142]:
Flipkart = pd.DataFrame({})
Flipkart['Brand'] = Brand[:100]
Flipkart['Product Description'] = Product_Description[:100]
Flipkart['Price'] = Price[:100]
Flipkart['Discount'] = Discount[:100]

In [143]:
Flipkart

,Brand,Product Description,Price,Discount
0,aadi,Sneakers For Men,â‚¹367,63% off
1,BRUTON,Men Sports Sneakers For Men,â‚¹299,76% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,â‚¹379,62% off
3,Wika,Sneakers For Men,â‚¹449,55% off
4,Numenzo,Sneakers For Men,â‚¹399,60% off
...,...,...,...,...
95,Deals4you,White Sneaker For Men's/Boy's Sneakers For Men...,â‚¹359,50% off
96,Red Rose,Sneakers For Men,â‚¹499,63% off
97,PUMA,Icon IDP Sneakers For Men,"â‚¹1,220",40% off
98,HOTSTYLE,Sneakers Sneakers For Men,â‚¹299,59% off
99,DUCATI,Sneakers For Men,"â‚¹1,461",36% off

# Q9

In [144]:
url = ('https://www.myntra.com/shoes')
driver.get(url)
time.sleep(5)

In [145]:
colorcheck = driver.find_element_by_xpath("//span[@data-colorhex = 'black']")
colorcheck.click()
time.sleep(5)

In [146]:
pricelimit = driver.find_element_by_xpath("//ul[@class = 'price-list']/li[2]")
pricelimit.click()
time.sleep(5)

    To Exract: 

        Brand
        Shoe Description
        Price

    And move to the next page

In [147]:
Brand = []
Shoe_Description = []
Price = []
for i in range(0,2):
    
    # Fetching the Brand name
    brand = driver.find_elements_by_xpath("//h3[@class = 'product-brand']")
    for i in brand:
        Brand.append(i.text)
        
    # Fetching the Shoe Description
    descr = driver.find_elements_by_xpath("//div[@class = 'product-productMetaInfo']/h4[1]")
    for i in descr:
        Shoe_Description.append(i.text)

    # Fetching the Price
    price = driver.find_elements_by_xpath("//div[@class = 'product-price']")
    for i in price:
        Price.append(i.text)
        
    # Moving to the next page
    nextpage = driver.find_element_by_xpath("//li[@class = 'pagination-next']/a")
    nextpage.click()
    time.sleep(3)

In [148]:
print(len(Brand), len(Shoe_Description), len(Price))

100 100 100

In [149]:
Myntra = pd.DataFrame({})
Myntra['Brand'] = Brand[:100]
Myntra['Shoe Description'] = Shoe_Description[:100]
Myntra['Price'] = Price[:100]

In [150]:
Myntra

     Brand               Shoe Description                        Price
0     ALDO                   Men Sneakers                     Rs. 9999
1     Nike   Men KD13 EP Basketball Shoes                    Rs. 12995
2     Nike    Men JORDAN DELTA Basketball                    Rs. 12495
3     ALDO          Men Textured Sneakers    Rs. 7199Rs. 8999(20% OFF)
4     Nike  Men REACT MILER Running Shoes   Rs. 8796Rs. 10995(20% OFF)
..     ...                            ...                          ...
95    Geox     Men Leather Formal Oxfords   Rs. 7867Rs. 10490(25% OFF)
96  Reebok     Men Nano X1 Training Shoes    Rs. 7499Rs. 9999(25% OFF)
97    ALDO                 Women Sneakers                    Rs. 11999
98    Nike      Men REACT MILER 2 Running   Rs. 9770Rs. 11495(15% OFF)
99    Nike   Men REACT INFINITY RUN Shoes  Rs. 12320Rs. 14495(15% OFF)

[100 rows x 3 columns]

# Q10

In [151]:
url = ('https://www.amazon.in/')
driver.get(url)

In [152]:
searchbar = driver.find_element_by_id('twotabsearchtextbox')
searchbar.click()

In [153]:
searchbar.send_keys('Laptop')

In [154]:
searchbutton = driver.find_element_by_id('nav-search-submit-button')
searchbutton.click()
time.sleep(5)

In [155]:
filters = driver.find_elements_by_xpath("//a[@class = 'a-link-normal s-navigation-item']//span")
for i in filters:
    if i.text =='Intel Core i7':
        i.click()
        break

In [156]:
i7_Title = []
#i7_Rating = []
i7_Price = []

# Extracting the Title
title = driver.find_elements_by_xpath("//span[@class = 'a-size-medium a-color-base a-text-normal']")
for i in title:
    i7_Title.append(i.text)
        
# Extracting the Rating
#rating = driver.find_elements_by_xpath("//span[@class = 'a-icon-alt']")
#for j in rating:
#    i7_Rating.append(j.text)
        
# Extracting the Price
price = driver.find_elements_by_xpath("//span[@class = 'a-price-whole']")
for k in price:
    i7_Price.append(k.text)

In [160]:
i7_Amazon = pd.DataFrame({})
i7_Amazon['Title'] = i7_Title[:5]
#i7_Amazon['Rating'] = i7_Rating[:5]
i7_Amazon['Price'] = i7_Price[:5]

In [161]:
i7_Amazon

                                               Title   Price
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...  83,990
1  Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...  83,990
2  Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...  97,990
3  HP Pavilion (2021) Thin & Light 11th Gen Core ...  79,990
4  Mi Notebook Horizon Edition 14 Intel Core i5-1...  49,999

In [162]:
# Clearing the i7 filter
clearfilter = driver.find_element_by_xpath("//a[@class = 'a-link-normal s-navigation-item s-navigation-clear-link']")
clearfilter.click()
time.sleep(5)

In [163]:
filter_i9 = driver.find_elements_by_xpath("//a[@class = 'a-link-normal s-navigation-item']//span")
for i in filter_i9:
    if i.text=='Intel Core i9':
        i.click()
        break
time.sleep(5)

In [164]:
i9_Title = []
#i9_Rating = []
i9_Price = []

# Extracting the Title
title = driver.find_elements_by_xpath("//span[@class = 'a-size-medium a-color-base a-text-normal']")
for i in title:
    i9_Title.append(i.text)
        
# Extracting the Rating
#rating = driver.find_elements_by_xpath("//span[@class = 'a-icon-alt']")
#for j in rating:
#    i9_Rating.append(j.text)
        
# Extracting the Price
try:
    price = driver.find_elements_by_xpath("//span[@class = 'a-price-whole']")
    for k in price:
        i9_Price.append(k.text)
except:
    i9_Price.append('-')

In [165]:
i9_Amazon = pd.DataFrame({})
i9_Amazon['Title'] = i9_Title[:5]
#i9_Amazon['Rating'] = i9_Rating[:5]
i9_Amazon['Price'] = i9_Price[:5]

In [166]:
i9_Amazon

                                               Title     Price
0  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...  2,66,990
1  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2,48,790
2  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,99,999
3  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...  2,00,690
4  Dell Alienware m15(R3) 15.6" (39.62cms) UHD Ga...  3,19,990

In [167]:
join = (i9_Amazon, i7_Amazon)
pd.concat(join)

                                               Title     Price
0  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...  2,66,990
1  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2,48,790
2  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,99,999
3  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...  2,00,690
4  Dell Alienware m15(R3) 15.6" (39.62cms) UHD Ga...  3,19,990
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    83,990
1  Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...    83,990
2  Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...    97,990
3  HP Pavilion (2021) Thin & Light 11th Gen Core ...    79,990
4  Mi Notebook Horizon Edition 14 Intel Core i5-1...    49,999