In [31]:
import time
import requests
import selenium
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1

In [2]:
wiki = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
url = requests.get(wiki).text
soup = BeautifulSoup(url)

In [3]:
len(soup.find_all('table'))
soup.title.string

'List of most-viewed YouTube videos - Wikipedia'

In [4]:
table_soup = soup.find_all('table')

In [5]:
filters = [table for table in table_soup if table.caption is not None]
required_table=None

for table in filters:
    if str(table.caption.string).strip() == 'List of most-viewed YouTube videos':
        required_table=table
        break

In [6]:
table

<table class="wikitable sortable">
<caption>Progression of the most-viewed video on YouTube
</caption>
<tbody><tr>
<th>Video name
</th>
<th>Uploader
</th>
<th>Views*
</th>
<th>Upload date
</th>
<th>Date achieved
</th>
<th>Days held
</th>
<th class="unsortable"><abbr title="Reference">Ref</abbr>
</th>
<th class="unsortable">Notes
</th></tr>
<tr>
<td>"<a class="mw-redirect" href="/wiki/Baby_Shark_Dance" title="Baby Shark Dance">Baby Shark Dance</a>"<sup class="reference" id="cite_ref-Baby_Shark_Dance_23-2"><a href="#cite_note-Baby_Shark_Dance-23">[22]</a></sup></td>
<td><a href="/wiki/Pinkfong" title="Pinkfong">Pinkfong</a>! Kids' Songs &amp; Stories</td>
<td align="right">7,037,500,000</td>
<td align="right">June 17, 2016</td>
<td align="right">November 2, 2020</td>
<td style='text-align:center;"'>227</td>
<td align="center"></td>
<td align="center">
</td></tr>
<tr>
<td>"<a href="/wiki/Despacito" title="Despacito">Despacito</a>"<sup class="reference" id="cite_ref-Despacito_26-2"><a href="#cite_note-Despacito-26">[24]</a></sup></td>
<td><a href="/wiki/Luis_Fonsi" title="Luis Fonsi">Luis Fonsi</a></td>
<td align="right">2,993,700,000</td>
<td align="right">January 12, 2017</td>
<td align="right">August 4, 2017</td>
<td style='text-align:center;"'>1,186</td>
<td align="center"><sup class="reference" id="cite_ref-127"><a href="#cite_note-127">[113]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-128"><a href="#cite_note-128">[O]</a></sup>
</td></tr>
<tr>
<td>"<a href="/wiki/See_You_Again#Music_video" title="See You Again">See You Again</a>"<sup class="reference" id="cite_ref-See_You_Again_32-2"><a href="#cite_note-See_You_Again-32">[27]</a></sup></td>
<td><a href="/wiki/Wiz_Khalifa" title="Wiz Khalifa">Wiz Khalifa</a></td>
<td align="right">2,894,000,000</td>
<td align="right">April 6, 2015</td>
<td align="right">July 10, 2017</td>
<td style='text-align:center;"'>25</td>
<td align="center"><sup class="reference" id="cite_ref-SeeYouAgaintop_33-1"><a href="#cite_note-SeeYouAgaintop-33">[28]</a></sup></td>
<td>
</td></tr>
<tr>
<td>"<a href="/wiki/Gangnam_Style_(music_video)" title="Gangnam Style (music video)">Gangnam Style</a>"⁂<sup class="reference" id="cite_ref-Gangnam_Style_44-2"><a href="#cite_note-Gangnam_Style-44">[34]</a></sup></td>
<td><a href="/wiki/Psy" title="Psy">Psy</a></td>
<td align="right">803,700,000</td>
<td align="right">July 15, 2012</td>
<td align="right">November 24, 2012</td>
<td style="background:#d0f0c0; text-align:center;"><b>1,689</b></td>
<td align="center"><sup class="reference" id="cite_ref-GangnamStyle_45-1"><a href="#cite_note-GangnamStyle-45">[35]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-129"><a href="#cite_note-129">[P]</a></sup>
</td></tr>
<tr>
<td>"<a href="/wiki/Baby_(Justin_Bieber_song)" title="Baby (Justin Bieber song)">Baby</a>"*<sup class="reference" id="cite_ref-Baby_98-1"><a href="#cite_note-Baby-98">[85]</a></sup></td>
<td><a href="/wiki/Justin_Bieber" title="Justin Bieber">Justin Bieber</a></td>
<td align="right">245,400,000</td>
<td align="right">February 19, 2010</td>
<td align="right">July 16, 2010</td>
<td style="background:#d7ccf3; text-align:center;"><b>862</b></td>
<td align="center"><sup class="reference" id="cite_ref-130"><a href="#cite_note-130">[114]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-133"><a href="#cite_note-133">[Q]</a></sup>
</td></tr>
<tr>
<td>"<a href="/wiki/Bad_Romance" title="Bad Romance">Bad Romance</a>"<sup class="reference" id="cite_ref-Bad_Romance_95-1"><a href="#cite_note-Bad_Romance-95">[82]</a></sup></td>
<td><a href="/wiki/Lady_Gaga" title="Lady Gaga">Lady Gaga</a></td>
<td align="right">178,400,000</td>
<td align="right">November 24, 2009</td>
<td align="right">April 14, 2010</td>
<td align="center">93</td>
<td align="center"><sup class="reference" id="cite_ref-134"><a href="#cite_note-134">[117]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-137"><a href="#cite_note-137">[R]</a></sup>
</td></tr>
<tr>
<td>"<a href="/wiki/Charlie_Bit_My_Finger" title="Charlie Bit My Finger">Charlie Bit My Finger</a>"<sup class="reference" id="cite_ref-Charlie_86-1"><a href="#cite_note-Charlie-86">[73]</a></sup></td>
<td>HDCYT</td>
<td align="right">128,900,000</td>
<td align="right"><span class="nowrap">May 22, 2007</span></td>
<td align="right">October 25, 2009</td>
<td align="center">171</td>
<td align="center"><sup class="reference" id="cite_ref-CharlieRef_138-0"><a href="#cite_note-CharlieRef-138">[120]</a></sup></td>
<td>
</td></tr>
<tr>
<td>"<a href='/wiki/Judson_Laipply#"Evolution_of_Dance"' title="Judson Laipply">Evolution of Dance</a>"<sup class="reference" id="cite_ref-EoD_79-1"><a href="#cite_note-EoD-79">[66]</a></sup></td>
<td><a href="/wiki/Judson_Laipply" title="Judson Laipply">Judson Laipply</a></td>
<td align="right">118,900,000</td>
<td align="right">April 6, 2006</td>
<td align="right">May 2, 2009</td>
<td align="center">176</td>
<td align="center"><sup class="reference" id="cite_ref-EvolutionRef1_139-0"><a href="#cite_note-EvolutionRef1-139">[121]</a></sup></td>
<td>
</td></tr>
<tr bgcolor="#ffd9d9">
<td>"<a href="/wiki/Girlfriend_(Avril_Lavigne_song)#Music_video" title="Girlfriend (Avril Lavigne song)">Girlfriend</a>"‡<sup class="reference" id="cite_ref-140"><a href="#cite_note-140">[122]</a></sup><sup class="reference" id="cite_ref-141"><a href="#cite_note-141">[123]</a></sup></td>
<td><a href="/wiki/RCA_Records" title="RCA Records">RCA Records</a></td>
<td align="right">92,600,000</td>
<td align="right">February 27, 2007</td>
<td align="right">July 17, 2008</td>
<td align="center">289</td>
<td align="center"><sup class="reference" id="cite_ref-GirlfriendRef_142-0"><a href="#cite_note-GirlfriendRef-142">[124]</a></sup></td>
<td>
</td></tr>
<tr>
<td>"<a href='/wiki/Judson_Laipply#"Evolution_of_Dance"' title="Judson Laipply">Evolution of Dance</a>"<sup class="reference" id="cite_ref-EoD_79-2"><a href="#cite_note-EoD-79">[66]</a></sup></td>
<td><a href="/wiki/Judson_Laipply" title="Judson Laipply">Judson Laipply</a></td>
<td align="right">78,400,000</td>
<td align="right">April 6, 2006</td>
<td align="right">March 15, 2008</td>
<td align="center">124</td>
<td align="center"><sup class="reference" id="cite_ref-EvolutionRef2_143-0"><a href="#cite_note-EvolutionRef2-143">[125]</a></sup></td>
<td>
</td></tr>
<tr bgcolor="#ffd9d9">
<td>"<a href="/wiki/Music_Is_My_Hot_Hot_Sex" title="Music Is My Hot Hot Sex">Music Is My Hot Hot Sex</a>"‡<sup class="reference" id="cite_ref-144"><a href="#cite_note-144">[126]</a></sup></td>
<td>CLARUSBARTEL72</td>
<td align="right">76,600,000</td>
<td align="right">April 9, 2007</td>
<td align="right">March 1, 2008</td>
<td align="center">14</td>
<td align="center"><sup class="reference" id="cite_ref-HotSexRef_145-0"><a href="#cite_note-HotSexRef-145">[127]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-148"><a href="#cite_note-148">[S]</a></sup>
</td></tr>
<tr>
<td>"<a href='/wiki/Judson_Laipply#"Evolution_of_Dance"' title="Judson Laipply">Evolution of Dance</a>"*<sup class="reference" id="cite_ref-EoD_79-3"><a href="#cite_note-EoD-79">[66]</a></sup></td>
<td><a href="/wiki/Judson_Laipply" title="Judson Laipply">Judson Laipply</a></td>
<td align="right">10,600,000</td>
<td align="right">April 6, 2006</td>
<td align="right"><span class="nowrap">May 19, 2006</span></td>
<td style="background:#d7ccf3; text-align:center;"><b>652</b></td>
<td align="center"><sup class="reference" id="cite_ref-EvolutionRef3_149-0"><a href="#cite_note-EvolutionRef3-149">[130]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-150"><a href="#cite_note-150">[T]</a></sup>
</td></tr>
<tr bgcolor="#ffd9d9">
<td>"<a href="/wiki/Smosh#2002–2006:_Formation_and_Pokémon_Theme_Music_Video" title="Smosh">Pokemon Theme Music Video</a>"‡<sup class="reference" id="cite_ref-151"><a href="#cite_note-151">[131]</a></sup></td>
<td><a href="/wiki/Smosh" title="Smosh">Smosh</a></td>
<td align="right">4,300,000</td>
<td align="right">November 28, 2005</td>
<td align="right">March 12, 2006</td>
<td align="center">68</td>
<td align="center"><sup class="reference" id="cite_ref-PokemonRef_152-0"><a href="#cite_note-PokemonRef-152">[132]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-155"><a href="#cite_note-155">[U]</a></sup>
</td></tr>
<tr bgcolor="#ffd9d9">
<td>"<a href="/wiki/The_MySpace_Movie" title="The MySpace Movie">Myspace – The Movie</a>"‡<sup class="reference" id="cite_ref-156"><a href="#cite_note-156">[135]</a></sup><sup class="reference" id="cite_ref-157"><a href="#cite_note-157">[136]</a></sup></td>
<td>eggtea</td>
<td align="right">2,700,000</td>
<td align="right">January 31, 2006</td>
<td align="right">February 18, 2006</td>
<td align="center">22</td>
<td align="center"><sup class="reference" id="cite_ref-MySpaceRef_158-0"><a href="#cite_note-MySpaceRef-158">[137]</a></sup></td>
<td>
</td></tr>
<tr style="background:#ffd9d9;">
<td>"<a href="/wiki/List_of_The_Tonight_Show_with_Jay_Leno_sketches" title="List of The Tonight Show with Jay Leno sketches">Phony Photo Booth</a>"‡<sup class="reference" id="cite_ref-159"><a href="#cite_note-159">[138]</a></sup></td>
<td>mugenized</td>
<td align="right">3,400,000</td>
<td align="right">December 1, 2005</td>
<td align="right">January 21, 2006</td>
<td align="center">28</td>
<td align="center"><sup class="reference" id="cite_ref-PhotoRef_160-0"><a href="#cite_note-PhotoRef-160">[139]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-161"><a href="#cite_note-161">[V]</a></sup>
</td></tr>
<tr bgcolor="#ffd9d9">
<td>"<a href="/wiki/Lazy_Sunday_(The_Lonely_Island_song)" title="Lazy Sunday (The Lonely Island song)">The Chronic of Narnia Rap</a>"‡<sup class="reference" id="cite_ref-162"><a href="#cite_note-162">[140]</a></sup></td>
<td>youtubedude</td>
<td align="right">2,300,000</td>
<td align="right">December 18, 2005</td>
<td align="right">January 9, 2006</td>
<td align="center">12</td>
<td align="center"><sup class="reference" id="cite_ref-NarniaRef_163-0"><a href="#cite_note-NarniaRef-163">[141]</a></sup></td>
<td>
</td></tr>
<tr bgcolor="#ffd9d9">
<td>"<a href="/wiki/Ronaldinho" title="Ronaldinho">Ronaldinho: Touch of Gold</a>"‡*<sup class="reference" id="cite_ref-164"><a href="#cite_note-164">[142]</a></sup></td>
<td><a href="/wiki/Nike,_Inc." title="Nike, Inc.">Nikesoccer</a></td>
<td align="right">255,000</td>
<td align="right">October 21, 2005</td>
<td align="right">October 31, 2005</td>
<td style="background:#d7ccf3; text-align:center;"><b>70</b></td>
<td align="center"><sup class="reference" id="cite_ref-TouchRef_165-0"><a href="#cite_note-TouchRef-165">[143]</a></sup></td>
<td align="center"><sup class="reference" id="cite_ref-167"><a href="#cite_note-167">[W]</a></sup>
</td></tr>
<tr bgcolor="#ffd9d9">
<td>"<a href="/wiki/Digital_painting" title="Digital painting">I/O Brush</a>"‡*<sup class="reference" id="cite_ref-168"><a href="#cite_note-168">[145]</a></sup></td>
<td>larfus</td>
<td align="right">247,000</td>
<td align="right">October 5, 2005</td>
<td align="right">October 29, 2005</td>
<td style="background:#d7ccf3; text-align:center;"><b>2</b></td>
<td align="center"><sup class="reference" id="cite_ref-IORef_169-0"><a href="#cite_note-IORef-169">[146]</a></sup></td>
<td>
</td></tr>
<tr>
<td>"<a href="/wiki/Me_at_the_zoo" title="Me at the zoo">Me at the zoo</a>"<sup class="reference" id="cite_ref-zoo_69-1"><a href="#cite_note-zoo-69">[57]</a></sup></td>
<td><a href="/wiki/Jawed_Karim" title="Jawed Karim">jawed</a></td>
<td align="right">1</td>
<td align="right">April 23, 2005</td>
<td align="right">April 23, 2005</td>
<td style="background:#d7ccf3; text-align:center;"><b>1</b></td>
<td align="center"><sup class="reference" id="cite_ref-170"><a href="#cite_note-170">[147]</a></sup></td>
<td>
</td></tr>
<tr>
<th colspan="8" style="text-align:center; font-size:8pt;">As of June 17, 2021
</th></tr></tbody></table>

In [7]:
headers = [header.text.strip() for header in table.find_all('th')]
headers

['Video name',
 'Uploader',
 'Views*',
 'Upload date',
 'Date achieved',
 'Days held',
 'Ref',
 'Notes',
 'As of June 17, 2021']

In [8]:
rows = []
data_rows = table.find_all('tr')

for row in data_rows:
    value = row.find_all('td')
    bfvalue = [ele.text.strip() for ele in value]
    
    if len(bfvalue) == 0:
        continue
    rows.append(bfvalue)

In [9]:
rows

[['"Baby Shark Dance"[22]',
  "Pinkfong! Kids' Songs & Stories",
  '7,037,500,000',
  'June 17, 2016',
  'November 2, 2020',
  '227',
  '',
  ''],
 ['"Despacito"[24]',
  'Luis Fonsi',
  '2,993,700,000',
  'January 12, 2017',
  'August 4, 2017',
  '1,186',
  '[113]',
  '[O]'],
 ['"See You Again"[27]',
  'Wiz Khalifa',
  '2,894,000,000',
  'April 6, 2015',
  'July 10, 2017',
  '25',
  '[28]',
  ''],
 ['"Gangnam Style"⁂[34]',
  'Psy',
  '803,700,000',
  'July 15, 2012',
  'November 24, 2012',
  '1,689',
  '[35]',
  '[P]'],
 ['"Baby"*[85]',
  'Justin Bieber',
  '245,400,000',
  'February 19, 2010',
  'July 16, 2010',
  '862',
  '[114]',
  '[Q]'],
 ['"Bad Romance"[82]',
  'Lady Gaga',
  '178,400,000',
  'November 24, 2009',
  'April 14, 2010',
  '93',
  '[117]',
  '[R]'],
 ['"Charlie Bit My Finger"[73]',
  'HDCYT',
  '128,900,000',
  'May 22, 2007',
  'October 25, 2009',
  '171',
  '[120]',
  ''],
 ['"Evolution of Dance"[66]',
  'Judson Laipply',
  '118,900,000',
  'April 6, 2006',
  'May 2, 2009',
  '176',
  '[121]',
  ''],
 ['"Girlfriend"‡[122][123]',
  'RCA Records',
  '92,600,000',
  'February 27, 2007',
  'July 17, 2008',
  '289',
  '[124]',
  ''],
 ['"Evolution of Dance"[66]',
  'Judson Laipply',
  '78,400,000',
  'April 6, 2006',
  'March 15, 2008',
  '124',
  '[125]',
  ''],
 ['"Music Is My Hot Hot Sex"‡[126]',
  'CLARUSBARTEL72',
  '76,600,000',
  'April 9, 2007',
  'March 1, 2008',
  '14',
  '[127]',
  '[S]'],
 ['"Evolution of Dance"*[66]',
  'Judson Laipply',
  '10,600,000',
  'April 6, 2006',
  'May 19, 2006',
  '652',
  '[130]',
  '[T]'],
 ['"Pokemon Theme Music Video"‡[131]',
  'Smosh',
  '4,300,000',
  'November 28, 2005',
  'March 12, 2006',
  '68',
  '[132]',
  '[U]'],
 ['"Myspace – The Movie"‡[135][136]',
  'eggtea',
  '2,700,000',
  'January 31, 2006',
  'February 18, 2006',
  '22',
  '[137]',
  ''],
 ['"Phony Photo Booth"‡[138]',
  'mugenized',
  '3,400,000',
  'December 1, 2005',
  'January 21, 2006',
  '28',
  '[139]',
  '[V]'],
 ['"The Chronic of Narnia Rap"‡[140]',
  'youtubedude',
  '2,300,000',
  'December 18, 2005',
  'January 9, 2006',
  '12',
  '[141]',
  ''],
 ['"Ronaldinho: Touch of Gold"‡*[142]',
  'Nikesoccer',
  '255,000',
  'October 21, 2005',
  'October 31, 2005',
  '70',
  '[143]',
  '[W]'],
 ['"I/O Brush"‡*[145]',
  'larfus',
  '247,000',
  'October 5, 2005',
  'October 29, 2005',
  '2',
  '[146]',
  ''],
 ['"Me at the zoo"[57]',
  'jawed',
  '1',
  'April 23, 2005',
  'April 23, 2005',
  '1',
  '[147]',
  '']]

In [10]:
data = pd.DataFrame(rows)

In [11]:
Youtube = pd.DataFrame({})
Youtube['Name'] = data[0]
Youtube['Author'] = data[1]
Youtube['Upload Date'] = data[3]
Youtube['Views'] = data[2]
Youtube

,Name,Author,Upload Date,Views
0,"""Baby Shark Dance""[22]",Pinkfong! Kids' Songs & Stories,"June 17, 2016","7,037,500,000"
1,"""Despacito""[24]",Luis Fonsi,"January 12, 2017","2,993,700,000"
2,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,"""Gangnam Style""⁂[34]",Psy,"July 15, 2012","803,700,000"
4,"""Baby""*[85]",Justin Bieber,"February 19, 2010","245,400,000"
5,"""Bad Romance""[82]",Lady Gaga,"November 24, 2009","178,400,000"
6,"""Charlie Bit My Finger""[73]",HDCYT,"May 22, 2007","128,900,000"
7,"""Evolution of Dance""[66]",Judson Laipply,"April 6, 2006","118,900,000"
8,"""Girlfriend""‡[122][123]",RCA Records,"February 27, 2007","92,600,000"
9,"""Evolution of Dance""[66]",Judson Laipply,"April 6, 2006","78,400,000"
10,"""Music Is My Hot Hot Sex""‡[126]",CLARUSBARTEL72,"April 9, 2007","76,600,000"
11,"""Evolution of Dance""*[66]",Judson Laipply,"April 6, 2006","10,600,000"
12,"""Pokemon Theme Music Video""‡[131]",Smosh,"November 28, 2005","4,300,000"
13,"""Myspace – The Movie""‡[135][136]",eggtea,"January 31, 2006","2,700,000"
14,"""Phony Photo Booth""‡[138]",mugenized,"December 1, 2005","3,400,000"
15,"""The Chronic of Narnia Rap""‡[140]",youtubedude,"December 18, 2005","2,300,000"
16,"""Ronaldinho: Touch of Gold""‡*[142]",Nikesoccer,"October 21, 2005","255,000"
17,"""I/O Brush""‡*[145]",larfus,"October 5, 2005","247,000"
18,"""Me at the zoo""[57]",jawed,"April 23, 2005",1

# Q2

In [12]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('https://www.bcci.tv/')
time.sleep(3)

In [13]:
fixture = driver.find_element_by_xpath("//a[@class = 'navigation__link navigation__link--in-drop-down']")
x = fixture.get_attribute('href')
driver.get(x)

In [15]:
Match = []
Series = []
place = []
days = []
month = []
times = []

title = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title:
    Match.append(i.text)
    
name = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")
for j in name:
    Series.append(j.text)
    
day = driver.find_elements_by_xpath("//span[@class='fixture__date']")
for k in day:
    days.append(k.text)
    
mont = driver.find_elements_by_xpath("//span[@class='fixture__month']")
for l in mont:
    month.append(l.text)
    
time = driver.find_elements_by_xpath("//span[@class='fixture__time']")
for m in time:
    times.append(m.text)
    
loc = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for n in loc:
    place.append(n.text)

In [16]:
Fixture = pd.DataFrame({})
Fixture['Match Title'] = Match
Fixture['Series'] = Series
Fixture['Place'] = place
Fixture['Day'] = days
Fixture['Month'] = month
Fixture['Time'] = times
Fixture

   Match Title Series                         Place Day      Month       Time
0        Final   TEST   The Ageas Bowl, Southampton  18       JUNE  15:00 IST
1      1st ODI    ODI  R Premadasa Stadium, Colombo  13       JULY  14:30 IST
2      2nd ODI    ODI  R Premadasa Stadium, Colombo  16       JULY  14:30 IST
3      3rd ODI    ODI  R Premadasa Stadium, Colombo  18       JULY  14:30 IST
4     1st T20I   T20I  R Premadasa Stadium, Colombo  21       JULY  19:00 IST
5     2nd T20I   T20I  R Premadasa Stadium, Colombo  23       JULY  19:00 IST
6     3rd T20I   T20I  R Premadasa Stadium, Colombo  25       JULY  19:00 IST
7     1st Test   TEST      Trent Bridge, Nottingham  04     AUGUST  15:30 IST
8     2nd Test   TEST                Lord's, London  12     AUGUST  15:30 IST
9     3rd Test   TEST             Headingley, Leeds  25     AUGUST  15:30 IST
10    4th Test   TEST              The Oval, London  02  SEPTEMBER  15:30 IST
11    5th Test   TEST      Old Trafford, Manchester  10  SEPTEMBER  15:30 IST

# Q3

In [22]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('https://www.guru99.com/')

In [25]:
title = driver.find_element_by_link_text("Selenium")
title.click()
time.sleep(7)

In [26]:
filtertag = driver.find_element_by_xpath("//a[@title = 'Selenium Exception Handling (Common Exceptions List)']")
filtertag.click()

In [27]:
tableid = driver.find_elements_by_xpath("table[@class='table table-striped']")
rows = driver.find_elements_by_tag_name('tr')

for row in rows:
    col = driver.find_elements_by_tag_name('td')
    
final = []
for i in col:
    final.append(i.text)
final

['',
 '',
 '',
 '',
 '',
 '',
 '',
 'Exception name',
 'Description',
 'ElementNotVisibleException',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'ElementNotSelectableException',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'NoSuchElementException',
 'This Exception occurs if an element could not be found.',
 'NoSuchFrameException',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'NoAlertPresentException',
 'This Exception occurs when you switch to no presented alert.',
 'NoSuchWindowException',
 'This Exception occurs if the window target to be switch does not exist.',
 'StaleElementReferenceException',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'SessionNotFoundException',
 'The WebDriver is acting after you quit the browser.',
 'TimeoutException',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'WebDriverException',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'ConnectionClosedException',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'ElementClickInterceptedException',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'ElementNotInteractableException',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'ErrorInResponseException',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'ErrorHandler.UnknownServerException',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'ImeActivationFailedException',
 'This expectation will occur when IME engine activation has failed.',
 'ImeNotAvailableException',
 'It takes place when IME support is unavailable.',
 'InsecureCertificateException',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'InvalidArgumentException',
 'It occurs when an argument does not belong to the expected type.',
 'InvalidCookieDomainException',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'InvalidCoordinatesException',
 'This type of Exception matches an interacting operation that is not valid.',
 'InvalidElementStateExceptio',
 "It occurs when command can't be finished when the element is invalid.",
 'InvalidSessionIdException',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'InvalidSwitchToTargetException',
 'This occurs when the frame or window target to be switched does not exist.',
 'JavascriptException',
 'This issue occurs while executing JavaScript given by the user.',
 'JsonException',
 'It occurs when you afford to get the session when the session is not created.',
 'NoSuchAttributeException',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'MoveTargetOutOfBoundsException',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'NoSuchContextException',
 'ContextAware does mobile device testing.',
 'NoSuchCookieException',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'NotFoundException',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'RemoteDriverServerException',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'ScreenshotException',
 'It is not possible to capture a screen.',
 'SessionNotCreatedException',
 'It happens when a new session could not be successfully created.',
 'UnableToSetCookieException',
 'This occurs if a driver is unable to set a cookie.',
 'UnexpectedTagNameException',
 'Happens if a support class did not get a web element as expected.',
 'UnhandledAlertException',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'UnexpectedAlertPresentException',
 'It occurs when there is the appearance of an unexpected alert.',
 'UnknownMethodException',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'UnreachableBrowserException',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'UnsupportedCommandException',
 "This occurs when remote WebDriver does n't send valid commands as expected.",
 '',
 '']

In [28]:
except_name = final[7::2]
desc = final[8::2]

In [29]:
Final = pd.DataFrame({})
Final['Exception Name'] = except_name
Final['Description'] = desc
Final

,Exception Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...
42,,

# Q4

In [56]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('http://statisticstimes.com/economy/india/indian-states-gdp.php')
driver.find_element_by_tag_name('html').send_keys(Keys.ESCAPE)

In [57]:
tableid = driver.find_elements_by_xpath("//div[@class = 'dataTables_wrapper']")
rows = driver.find_elements_by_tag_name('tr')
for row in rows:
    col = driver.find_elements_by_tag_name('td')
    
final = []
for i in col:
    final.append(i.text)
final

['Source',
 'Ministry of Statistics and Programme Implementation',
 'Last Updated',
 '01 Mar 2021',
 '1',
 'Maharashtra',
 '-',
 '2,632,792',
 '13.94%',
 '399.921',
 '-',
 '2,039,074',
 '2',
 'Tamil Nadu',
 '1,845,853',
 '1,630,208',
 '8.63%',
 '247.629',
 '1,312,929',
 '1,215,307',
 '3',
 'Uttar Pradesh',
 '1,687,818',
 '1,584,764',
 '8.39%',
 '240.726',
 '1,166,817',
 '1,123,982',
 '4',
 'Gujarat',
 '-',
 '1,502,899',
 '7.96%',
 '228.290',
 '-',
 '1,186,379',
 '5',
 'Karnataka',
 '1,631,977',
 '1,493,127',
 '7.91%',
 '226.806',
 '1,156,039',
 '1,091,077',
 '6',
 'West Bengal',
 '1,253,832',
 '1,089,898',
 '5.77%',
 '165.556',
 '793,223',
 '739,525',
 '7',
 'Rajasthan',
 '1,020,989',
 '942,586',
 '4.99%',
 '143.179',
 '711,627',
 '677,428',
 '8',
 'Andhra Pradesh',
 '972,782',
 '862,957',
 '4.57%',
 '131.083',
 '672,018',
 '621,301',
 '9',
 'Telangana',
 '969,604',
 '861,031',
 '4.56%',
 '130.791',
 '663,258',
 '612,828',
 '10',
 'Madhya Pradesh',
 '906,672',
 '809,592',
 '4.29%',
 '122.977',
 '561,801',
 '522,009',
 '11',
 'Kerala',
 '-',
 '781,653',
 '4.14%',
 '118.733',
 '-',
 '559,412',
 '12',
 'Delhi',
 '856,112',
 '774,870',
 '4.10%',
 '117.703',
 '634,408',
 '590,569',
 '13',
 'Haryana',
 '831,610',
 '734,163',
 '3.89%',
 '111.519',
 '572,240',
 '531,085',
 '14',
 'Bihar',
 '611,804',
 '530,363',
 '2.81%',
 '80.562',
 '414,977',
 '375,651',
 '15',
 'Punjab',
 '574,760',
 '526,376',
 '2.79%',
 '79.957',
 '418,868',
 '397,669',
 '16',
 'Odisha',
 '521,275',
 '487,805',
 '2.58%',
 '74.098',
 '396,499',
 '376,877',
 '17',
 'Assam',
 '-',
 '315,881',
 '1.67%',
 '47.982',
 '-',
 '234,048',
 '18',
 'Chhattisgarh',
 '329,180',
 '304,063',
 '1.61%',
 '46.187',
 '243,477',
 '231,182',
 '19',
 'Jharkhand',
 '328,598',
 '297,204',
 '1.57%',
 '45.145',
 '240,036',
 '224,986',
 '20',
 'Uttarakhand',
 '-',
 '245,895',
 '1.30%',
 '37.351',
 '-',
 '193,273',
 '21',
 'Jammu & Kashmir',
 '-',
 '155,956',
 '0.83%',
 '23.690',
 '-',
 '112,755',
 '22',
 'Himachal Pradesh',
 '165,472',
 '153,845',
 '0.81%',
 '23.369',
 '124,403',
 '117,851',
 '23',
 'Goa',
 '80,449',
 '73,170',
 '0.39%',
 '11.115',
 '63,408',
 '57,787',
 '24',
 'Tripura',
 '55,984',
 '49,845',
 '0.26%',
 '7.571',
 '40,583',
 '36,963',
 '25',
 'Chandigarh',
 '-',
 '42,114',
 '0.22%',
 '6.397',
 '-',
 '31,192',
 '26',
 'Puducherry',
 '38,253',
 '34,433',
 '0.18%',
 '5.230',
 '25,093',
 '23,013',
 '27',
 'Meghalaya',
 '36,572',
 '33,481',
 '0.18%',
 '5.086',
 '26,695',
 '24,682',
 '28',
 'Sikkim',
 '32,496',
 '28,723',
 '0.15%',
 '4.363',
 '20,017',
 '18,722',
 '29',
 'Manipur',
 '31,790',
 '27,870',
 '0.15%',
 '4.233',
 '20,673',
 '19,300',
 '30',
 'Nagaland',
 '-',
 '27,283',
 '0.14%',
 '4.144',
 '-',
 '17,647',
 '31',
 'Arunachal Pradesh',
 '-',
 '24,603',
 '0.13%',
 '3.737',
 '-',
 '16,676',
 '32',
 'Mizoram',
 '26,503',
 '22,287',
 '0.12%',
 '3.385',
 '18,797',
 '16,478',
 '33',
 'Andaman & Nicobar Islands',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '',
 'India',
 '20,351,013',
 '18,886,957',
 '',
 '2,869',
 '14,569,268',
 '14,003,316',
 '1',
 'Maharashtra',
 '-',
 '2,332,992',
 '13.97%',
 '-',
 '1,794,123',
 '2',
 'Tamil Nadu',
 '1,659,210',
 '1,465,361',
 '8.77%',
 '1,167,776',
 '1,079,894',
 '3',
 'Uttar Pradesh',
 '1,495,758',
 '1,404,761',
 '8.41%',
 '1,015,735',
 '979,159',
 '4',
 'Karnataka',
 '1,476,983',
 '1,351,553',
 '8.09%',
 '1,035,131',
 '976,948',
 '5',
 'Gujarat',
 '-',
 '1,322,936',
 '7.92%',
 '-',
 '1,036,859',
 '6',
 'West Bengal',
 '1,150,711',
 '995,502',
 '5.96%',
 '713,376',
 '662,432',
 '7',
 'Rajasthan',
 '916,014',
 '845,247',
 '5.06%',
 '630,693',
 '600,433',
 '8',
 'Telangana',
 '881,873',
 '782,370',
 '4.68%',
 '594,806',
 '549,481',
 '9',
 'Andhra Pradesh',
 '875,429',
 '776,140',
 '4.65%',
 '595,605',
 '550,584',
 '10',
 'Madhya Pradesh',
 '827,019',
 '737,156',
 '4.41%',
 '496,798',
 '461,903',
 '11',
 'Kerala',
 '-',
 '707,542',
 '4.24%',
 '-',
 '513,322',
 '12',
 'Delhi',
 '779,647',
 '704,529',
 '4.22%',
 '568,265',
 '529,739',
 '13',
 'Haryana',
 '755,790',
 '666,075',
 '3.99%',
 '514,983',
 '477,834',
 '14',
 'Bihar',
 '562,710',
 '486,776',
 '2.91%',
 '377,276',
 '340,512',
 '15',
 'Punjab',
 '517,521',
 '472,506',
 '2.83%',
 '374,015',
 '354,830',
 '16',
 'Odisha',
 '457,757',
 '428,031',
 '2.56%',
 '344,437',
 '327,805',
 '17',
 'Assam',
 '-',
 '282,782',
 '1.69%',
 '-',
 '207,193',
 '18',
 'Jharkhand',
 '301,242',
 '271,990',
 '1.63%',
 '218,232',
 '204,423',
 '19',
 'Chhattisgarh',
 '288,041',
 '266,537',
 '1.60%',
 '210,837',
 '200,453',
 '20',
 'Uttarakhand',
 '-',
 '221,871',
 '1.33%',
 '-',
 '173,211',
 '21',
 'Himachal Pradesh',
 '143,063',
 '133,303',
 '0.80%',
 '107,171',
 '101,534',
 '22',
 'Jammu & Kashmir',
 '-',
 '129,877',
 '0.78%',
 '-',
 '91,666',
 '23',
 'Goa',
 '72,181',
 '66,060',
 '0.40%',
 '56,810',
 '51,878',
 '24',
 'Tripura',
 '50,227',
 '44,835',
 '0.27%',
 '35,980',
 '32,830',
 '25',
 'Chandigarh',
 '-',
 '37,571',
 '0.22%',
 '-',
 '27,565',
 '26',
 'Puducherry',
 '34,823',
 '31,415',
 '0.19%',
 '22,291',
 '20,534',
 '27',
 'Meghalaya',
 '32,833',
 '29,544',
 '0.18%',
 '23,564',
 '21,779',
 '28',
 'Manipur',
 '29,148',
 '25,323',
 '0.15%',
 '18,549',
 '17,228',
 '29',
 'Sikkim',
 '28,391',
 '25,141',
 '0.15%',
 '17,060',
 '15,972',
 '30',
 'Nagaland',
 '-',
 '24,534',
 '0.15%',
 '-',
 '15,381',
 '31',
 'Arunachal Pradesh',
 '-',
 '22,488',
 '0.13%',
 '-',
 '15,013',
 '32',
 'Mizoram',
 '24,424',
 '20,947',
 '0.13%',
 '17,797',
 '15,372',
 '33',
 'Andaman & Nicobar Islands',
 '-',
 '-',
 '-',
 '-',
 '-',
 '',
 'India',
 '17,994,301',
 '16,704,645',
 '',
 '12,681,246',
 '12,240,380']

In [58]:
rank = final[4::8]
state = final[5::8]
gsdp1920 = final[6::8]
gsdp1829 = final[7::8]
share = final[8::8]
gdpbillion = final[9::8]

In [60]:
Final = pd.DataFrame({})
Final['Rank'] = rank
Final['State Name'] = state
Final['GSDP 19-20'] = gsdp1920
Final['GSDP 18-19'] = gsdp1829
Final['Share'] = share
Final['GDP Billion'] = gdpbillion
Final

,Rank,State Name,GSDP 19-20,GSDP 18-19,Share,GDP Billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
59,0.15%,"17,060","15,972",30,Nagaland,-
60,-,"15,381",31,Arunachal Pradesh,-,"22,488"
61,"15,013",32,Mizoram,"24,424","20,947",0.13%
62,33,Andaman & Nicobar Islands,-,-,-,-
63,India,"17,994,301","16,704,645",,"12,681,246","12,240,380"

# Q5

In [62]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('https://github.com/')
time.sleep(5)

In [63]:
dr = driver.find_elements_by_xpath("//li[@class='edge-item-fix']/a")
dra = []
for i in dr:
    dra.append(i.get_attribute('href'))

for i in dra:
    if ('trending' in i):
        driver.get(i)

In [66]:
repo = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
repos = []
for i in repo:
    repos.append(i.text)

des = driver.find_elements_by_xpath("//p[@class = 'col-9 color-text-secondary my-1 pr-4']")
desx = []
for i in des:
    desx.append(i.text)

cont = driver.find_elements_by_xpath("//a[@class = 'Link--muted d-inline-block mr-3']")
contx = []
for i in cont:
    contx.append(i.text)
contributor_count = contx[1::2]

language=[]
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None :
        language.append("--") 
    else:
        language.append(i.text)

In [67]:
Data = pd.DataFrame({})
Data['Repos'] = repos[:21]
Data['Description'] = desx[:21]
Data['Count'] = contributor_count[:21]
Data['language'] = language[:21]
Data

,Repos,Description,Count,language
0,programthink / zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,"2,073",Python
1,megaease / easegress,A Cloud Native traffic orchestration system,187,Go
2,SmartKeyerror / Psyduck,"Record CS knowlegement with XMind, version 2.0...",67,Go
3,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,83,Assembly
4,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,559,Python
5,geohot / tinygrad,You like pytorch? You like micrograd? You love...,537,TypeScript
6,concrete-utopia / utopia,Design ❤️ Code,47,Rust
7,rustdesk / rustdesk,Yet another remote desktop software,449,JavaScript
8,Asabeneh / 30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,"1,820",Jupyter Notebook
9,AkashSingh3031 / The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,255,Go
10,harvester / harvester,Open source hyperconverged infrastructure (HCI...,194,Go
11,kubernetes / kubernetes,Production-Grade Container Scheduling and Mana...,"28,487",TypeScript
12,microsoft / TypeScript,TypeScript is a superset of JavaScript that co...,"9,428",JavaScript
13,tunguz / ML_Resources,GitHub Repo with various ML/AI/DS resources th...,9,Go
14,vercel / next.js,The React Framework,"13,046",Python
15,rancher / rancher,Complete container management platform,"2,238",C
16,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...","4,435",TypeScript
17,bee-san / pyWhat,🐸 Identify anything. pyWhat easily lets you id...,100,Inno Setup
18,sqfmi / Watchy,Watchy - An Open Source E-Ink Smartwatch,91,Python
19,prisma / prisma,Next-generation ORM for Node.js & TypeScript |...,488,C#
20,mentebinaria / retoolkit,Reverse Engineer's Toolkit,139,Shell

# Q6

In [68]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('https://www.billboard.com/')
time.sleep(5)

In [69]:
dt = driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']/li[3]/a")
driver.get(dt.get_attribute('href'))

In [70]:
song = []
sng = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in sng:
    song.append(i.text)
    
lst_week = []
lst = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lst:
    lst_week.append(i.text)
    
singer = []
sing = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in sing:
    singer.append(i.text)
    
peak = []
pk = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pk:
    peak.append(i.text)
    
weakon = []
wk = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wk:
    weakon.append(i.text)

In [71]:
Data = pd.DataFrame({})
Data['Song'] = song
Data['Singer'] = singer
Data['Last Week'] = lst_week
Data['Peak'] = peak
Data['Week'] = weakon
Data

,Song,Singer,Last Week,Peak,Week
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

# Q7

In [72]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('https://www.naukri.com/')
time.sleep(5)

In [73]:
dt = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(dt.get_attribute('href'))

In [74]:
search = driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data Science')

In [75]:
btn = driver.find_element_by_id('qsbFormBtn')
btn.click()

In [76]:
name = []
nm = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in nm:
    name.append(i.text)
    
desig = []
des = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in des:
    desig.append(i.text)
    
company = []
comp = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in comp:
    company.append(i.text)
    
jobdesc = []
job = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in job:
    jobdesc.append(i.text)
    
location = []
loc = driver.find_elements_by_xpath("//p[@class='highlightable']/span/small")
for i in loc:
    try:
        location.append(i.text) 
    except NoSuchElementException:
        location.append("--")

In [80]:
Naukri = pd.DataFrame({})
Naukri['Name'] = name[:47]
Naukri['Designation'] = desig[:47]
Naukri['Company'] = company[:47]
Naukri['Location'] = location[:47]
Naukri['Looking for'] = jobdesc[:47]
Naukri

,Name,Designation,Company,Location,Looking for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
25,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,Delhi,"Signal Processing, Machine Learning, Neural Ne..."
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Bengaluru / Bangalore,"Web Technologies, Project Management, Software..."
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Mysoru / Mysore,"Server Administartion, Verilog, Vhdl, Digital ..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Hyderabad / Secunderabad,"Data Analytics, Managed Services, Team Leading..."
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Bengaluru / Bangalore,"Data Science, Machine Learning, Big Data Analy..."
32,Radha Manivasagam,HR Executive,Techcovery,Noida,"Python, Artificial Intelligence, Machine Learn..."
33,Prateek Kumar,Head,Trisect,New Delhi,"Java, Python, Angularjs, Software Testing, Mac..."
34,Amit Sharma,Consultant,ASCO consulting,Chennai,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,Aligarh,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Salt Lake City,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Pune,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Bengaluru / Bangalore,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Mumbai,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,Indore,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Bengaluru / Bangalore,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,MYSORE,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,Hyderabad / Secunderabad,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,Noida,"Software Development, Core Java, Unit Testing,..."

# Q8

In [82]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(5)

In [83]:
tableid = driver.find_elements_by_xpath("table[@class='in-article sortable']")
rows = driver.find_elements_by_tag_name('tr')
for row in rows:
    col = driver.find_elements_by_tag_name('td')
    
final = []
for i in col:
    final.append(i.text)
final

['SOURCE: NIELSEN BOOK SCAN',
 '1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 'Crime, Thriller & Adventure',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 "Children's Fiction",
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 "Children's Fiction",
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 "Children's Fiction",
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 'Romance & Sagas',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 "Children's Fiction",
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 "Children's Fiction",
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 "Children's Fiction",
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 'Crime, Thriller & Adventure',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 "Children's Fiction",
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 'Romance & Sagas',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 'Young Adult Fiction',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 'Crime, Thriller & Adventure',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 'Romance & Sagas',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 'Crime, Thriller & Adventure',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 'Young Adult Fiction',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 'Crime, Thriller & Adventure',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 'Young Adult Fiction',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 'General & Literary Fiction',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 'General & Literary Fiction',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 'Crime, Thriller & Adventure',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 'Popular Science',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 'Crime, Thriller & Adventure',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 'Young Adult Fiction',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 'Picture Books',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 'Picture Books',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 'Food & Drink: General',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 'General & Literary Fiction',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 'General & Literary Fiction',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 'Crime, Thriller & Adventure',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 'General & Literary Fiction',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 'General & Literary Fiction',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 'General & Literary Fiction',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 'Humour: Collections & General',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 'General & Literary Fiction',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 'Autobiography: General',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 'General & Literary Fiction',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 'Biography: The Arts',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 'Autobiography: General',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 'Picture Books',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 'Autobiography: General',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 'General & Literary Fiction',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 'General & Literary Fiction',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 'Science Fiction & Fantasy',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 'General & Literary Fiction',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 'General & Literary Fiction',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 'General & Literary Fiction',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 'Crime, Thriller & Adventure',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 'General & Literary Fiction',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 'General & Literary Fiction',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 'Fitness & Diet',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 'General & Literary Fiction',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 "Children's Fiction",
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 'Crime, Thriller & Adventure',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 'Fitness & Diet',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 'Usage & Writing Guides',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 'Food & Drink: General',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 'General & Literary Fiction',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 'Young Adult Fiction',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 'General & Literary Fiction',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 'Popular Culture & Media: General Interest',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 'Autobiography: The Arts',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 'General & Literary Fiction',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 'Crime, Thriller & Adventure',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 'Science Fiction & Fantasy',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 'Current Affairs & Issues',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 'Crime, Thriller & Adventure',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 'Autobiography: The Arts',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 'General & Literary Fiction',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 'Autobiography: The Arts',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 'Travel Writing',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 'Food & Drink: General',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 'General & Literary Fiction',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 'National & Regional Cuisine',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 'Fitness & Diet',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 'Travel Writing',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 'Crime, Thriller & Adventure',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 'General & Literary Fiction',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 'Food & Drink: General',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 'General & Literary Fiction',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 'General & Literary Fiction',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 'Picture Books',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 'General & Literary Fiction',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 'Autobiography: The Arts',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 'Popular Science',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 "Children's Annuals",
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 'General & Literary Fiction',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 'General & Literary Fiction',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 'General & Literary Fiction',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 'General & Literary Fiction',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 'General & Literary Fiction',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 'Food & Drink: General',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 'Biography: General',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin',
 'Food & Drink: General']

In [84]:
rank = final[1::6]
title = final[2::6]
author = final[3::6]
volume = final[4::6]
publisher = final[5::6]
genre = final[6::6]

In [85]:
Books=pd.DataFrame({})
Books['Rank'] = rank
Books['Title'] = title
Books['Author'] = author
Books['Volume'] = volume
Books['Publisher'] = publisher
Books['Genre'] = genre
Books

,Rank,Title,Author,Volume,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9

In [86]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(5)

In [87]:
name = []
nm = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in nm:
    name.append(i.text)
    
year = []
yr = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in yr:
    year.append(i.text)
    
genre = []
gen = driver.find_elements_by_xpath("//span[@class='genre']")
for i in gen:
    genre.append(i.text)
    
run = []
rn = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in rn:
    run.append(i.text)
    
rating = []
rat = driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']")
for i in rat:
    rating.append(i.text.replace('\nRate', ''))
    
votes = []
vt = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]")
for i in vt:
    votes.append(i.text.replace('Votes: ',''))

In [88]:
IMDB = pd.DataFrame({})
IMDB['Name'] = name
IMDB['Year'] = year
IMDB['Ratings'] = rating
IMDB['Genre'] = genre
IMDB['Runtime'] = run
IMDB['Vote'] = votes
IMDB

,Name,Year,Ratings,Genre,Runtime,Vote
0,Game of Thrones,(2011–2019),9.3,"Action, Adventure, Drama",57 min,"1,824,651"
1,Stranger Things,(2016– ),8.7,"Drama, Fantasy, Horror",51 min,"864,780"
2,The Walking Dead,(2010–2022),8.2,"Drama, Horror, Thriller",44 min,"874,959"
3,13 Reasons Why,(2017–2020),7.6,"Drama, Mystery, Thriller",60 min,"262,846"
4,The 100,(2014–2020),7.6,"Drama, Mystery, Sci-Fi",43 min,"224,230"
...,...,...,...,...,...,...
95,Reign,(2013–2017),7.5,"Drama, Fantasy",42 min,"44,595"
96,A Series of Unfortunate Events,(2017–2019),7.8,"Adventure, Comedy, Drama",50 min,"55,100"
97,Criminal Minds,(2005–2020),8,"Crime, Drama, Mystery",42 min,"167,943"
98,Scream: The TV Series,(2015–2019),7.1,"Comedy, Crime, Drama",45 min,"34,910"
99,The Haunting of Hill House,(2018),8.6,"Drama, Horror, Mystery",572 min,"191,639"

# Q10

In [96]:
driver = webdriver.Chrome('E:\FlipRobo - Internship\FlipRobo - Classes\Selenium\chromedriver.exe')
driver.get('https://archive.ics.uci.edu/')
time.sleep(5)

In [97]:
select = driver.find_element_by_xpath("//span[@class='whitetext'][2]/a[1]")
driver.get(select.get_attribute('href'))

In [98]:
cols = driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr/td")

In [99]:
colsx = []
for i in cols:
    colsx.append(i.text)
colsx

['Name',
 'Data Types',
 'Default Task',
 'Attribute Types',
 '# Instances',
 '# Attributes',
 'Year',
 '  Abalone',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '4177 ',
 '8 ',
 '1995 ',
 '  Adult',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 '  Annealing',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '798 ',
 '38 ',
 ' ',
 '  Anonymous Microsoft Web Data',
 ' ',
 'Recommender-Systems ',
 'Categorical ',
 '37711 ',
 '294 ',
 '1998 ',
 '  Arrhythmia',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '452 ',
 '279 ',
 '1998 ',
 '  Artificial Characters',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '6000 ',
 '7 ',
 '1992 ',
 '  Audiology (Original)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 ' ',
 '1987 ',
 '  Audiology (Standardized)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 '69 ',
 '1992 ',
 '  Auto MPG',
 'Multivariate ',
 'Regression ',
 'Categorical, Real ',
 '398 ',
 '8 ',
 '1993 ',
 '  Automobile',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer, Real ',
 '205 ',
 '26 ',
 '1987 ',
 '  Badges',
 'Univariate, Text ',
 'Classification ',
 ' ',
 '294 ',
 '1 ',
 '1994 ',
 '  Balance Scale',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '625 ',
 '4 ',
 '1994 ',
 '  Balloons',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '16 ',
 '4 ',
 ' ',
 '  Breast Cancer',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '286 ',
 '9 ',
 '1988 ',
 '  Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '699 ',
 '10 ',
 '1992 ',
 '  Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Classification, Regression ',
 'Real ',
 '198 ',
 '34 ',
 '1995 ',
 '  Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Classification ',
 'Real ',
 '569 ',
 '32 ',
 '1995 ',
 '  Pittsburgh Bridges',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '108 ',
 '13 ',
 '1990 ',
 '  Car Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '1728 ',
 '6 ',
 '1997 ',
 '  Census Income',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 '  Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical, Integer ',
 ' ',
 '22 ',
 '1988 ',
 '  Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '3196 ',
 '36 ',
 '1989 ',
 '  Chess (King-Rook vs. King)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '28056 ',
 '6 ',
 '1994 ',
 '  Chess (Domain Theories)',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '  Bach Chorales',
 'Univariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 '100 ',
 '6 ',
 ' ',
 '  Connect-4',
 'Multivariate, Spatial ',
 'Classification ',
 'Categorical ',
 '67557 ',
 '42 ',
 '1995 ',
 '  Credit Approval',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '15 ',
 ' ',
 '  Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real, Integer ',
 '125 ',
 ' ',
 '1992 ',
 '  Computer Hardware',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '209 ',
 '9 ',
 '1987 ',
 '  Contraceptive Method Choice',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1473 ',
 '9 ',
 '1997 ',
 '  Covertype',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '581012 ',
 '54 ',
 '1998 ',
 '  Cylinder Bands',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '512 ',
 '39 ',
 '1995 ',
 '  Dermatology',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '366 ',
 '33 ',
 '1998 ',
 '  Diabetes',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 ' ',
 '20 ',
 ' ',
 '  DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 '  Document Understanding',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 '  EBL Domain Theories',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '  Echocardiogram',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '132 ',
 '12 ',
 '1989 ',
 '  Ecoli',
 'Multivariate ',
 'Classification ',
 'Real ',
 '336 ',
 '8 ',
 '1996 ',
 '  Flags',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '194 ',
 '30 ',
 '1990 ',
 '  Function Finding',
 ' ',
 'Function-Learning ',
 'Real ',
 '352 ',
 ' ',
 '1990 ',
 '  Glass Identification',
 'Multivariate ',
 'Classification ',
 'Real ',
 '214 ',
 '10 ',
 '1987 ',
 "  Haberman's Survival",
 'Multivariate ',
 'Classification ',
 'Integer ',
 '306 ',
 '3 ',
 '1999 ',
 '  Hayes-Roth',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '160 ',
 '5 ',
 '1989 ',
 '  Heart Disease',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '303 ',
 '75 ',
 '1988 ',
 '  Hepatitis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '155 ',
 '19 ',
 '1988 ',
 '  Horse Colic',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '368 ',
 '27 ',
 '1989 ',
 '  ICU',
 'Multivariate, Time-Series ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 '  Image Segmentation',
 'Multivariate ',
 'Classification ',
 'Real ',
 '2310 ',
 '19 ',
 '1990 ',
 '  Internet Advertisements',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '3279 ',
 '1558 ',
 '1998 ',
 '  Ionosphere',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '351 ',
 '34 ',
 '1989 ',
 '  Iris',
 'Multivariate ',
 'Classification ',
 'Real ',
 '150 ',
 '4 ',
 '1988 ',
 '  ISOLET',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7797 ',
 '617 ',
 '1994 ',
 '  Kinship',
 'Relational ',
 'Relational-Learning ',
 'Categorical ',
 '104 ',
 '12 ',
 '1990 ',
 '  Labor Relations',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '57 ',
 '16 ',
 '1988 ',
 '  LED Display Domain',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical ',
 ' ',
 '7 ',
 '1988 ',
 '  Lenses',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '24 ',
 '4 ',
 '1990 ',
 '  Letter Recognition',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '20000 ',
 '16 ',
 '1991 ',
 '  Liver Disorders',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '345 ',
 '7 ',
 '1990 ',
 '  Logic Theorist',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '  Lung Cancer',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '32 ',
 '56 ',
 '1992 ',
 '  Lymphography',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '148 ',
 '18 ',
 '1988 ',
 '  Mechanical Analysis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '209 ',
 '8 ',
 '1990 ',
 '  Meta-data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '528 ',
 '22 ',
 '1996 ',
 '  Mobile Robots',
 'Domain-Theory ',
 ' ',
 'Categorical, Integer, Real ',
 ' ',
 ' ',
 '1995 ',
 '  Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '106 ',
 '58 ',
 '1990 ',
 '  Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Classification ',
 'Categorical ',
 '128 ',
 ' ',
 ' ',
 '  Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '3190 ',
 '61 ',
 '1992 ',
 "  MONK's Problems",
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '432 ',
 '7 ',
 '1992 ',
 '  Moral Reasoner',
 'Domain-Theory ',
 ' ',
 ' ',
 '202 ',
 ' ',
 '1994 ',
 '  Multiple Features',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '2000 ',
 '649 ',
 ' ',
 '  Mushroom',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '8124 ',
 '22 ',
 '1987 ',
 '  Musk (Version 1)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '476 ',
 '168 ',
 '1994 ',
 '  Musk (Version 2)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '6598 ',
 '168 ',
 '1994 ',
 '  Nursery',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '12960 ',
 '8 ',
 '1997 ',
 '  Othello Domain Theory',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1991 ',
 '  Page Blocks Classification',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '5473 ',
 '10 ',
 '1995 ',
 '  Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '5620 ',
 '64 ',
 '1998 ',
 '  Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '10992 ',
 '16 ',
 '1998 ',
 '  Post-Operative Patient',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '90 ',
 '8 ',
 '1993 ',
 '  Primary Tumor',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '339 ',
 '17 ',
 '1988 ',
 '  Prodigy',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '  Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '  Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 ' ',
 '72 ',
 '1992 ',
 '  Servo',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '167 ',
 '4 ',
 '1993 ',
 '  Shuttle Landing Control',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '15 ',
 '6 ',
 '1988 ',
 '  Solar Flare',
 'Multivariate ',
 'Regression ',
 'Categorical ',
 '1389 ',
 '10 ',
 '1989 ',
 '  Soybean (Large)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '307 ',
 '35 ',
 '1988 ',
 '  Soybean (Small)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '47 ',
 '35 ',
 '1987 ',
 '  Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '23 ',
 '4 ',
 '1993 ',
 '  Low Resolution Spectrometer',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '531 ',
 '102 ',
 '1988 ',
 '  Spambase',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '4601 ',
 '57 ',
 '1999 ',
 '  SPECT Heart',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '267 ',
 '22 ',
 '2001 ',
 '  SPECTF Heart',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '267 ',
 '44 ',
 '2001 ',
 '  Sponge',
 'Multivariate ',
 'Clustering ',
 'Categorical, Integer ',
 '76 ',
 '45 ',
 ' ',
 '  Statlog Project',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1992 ',
 '  Student Loan Relational',
 'Domain-Theory ',
 ' ',
 ' ',
 '1000 ',
 ' ',
 '1993 ',
 '  Teaching Assistant Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '151 ',
 '5 ',
 '1997 ',
 '  Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '958 ',
 '9 ',
 '1991 ',
 '  Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real ',
 '7200 ',
 '21 ',
 '1987 ',
 '  Trains',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '10 ',
 '32 ',
 '1994 ',
 '  University',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '285 ',
 '17 ',
 '1988 ',
 '  Congressional Voting Records',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '435 ',
 '16 ',
 '1987 ',
 '  Water Treatment Plant',
 'Multivariate ',
 'Clustering ',
 'Integer, Real ',
 '527 ',
 '38 ',
 '1993 ',
 '  Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '21 ',
 '1988 ',
 '  Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '40 ',
 '1988 ',
 '  Wine',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '178 ',
 '13 ',
 '1991 ',
 '  Yeast',
 'Multivariate ',
 'Classification ',
 'Real ',
 '1484 ',
 '8 ',
 '1996 ',
 '  Zoo',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '101 ',
 '17 ',
 '1990 ',
 '  Undocumented',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '  Twenty Newsgroups',
 'Text ',
 ' ',
 ' ',
 '20000 ',
 ' ',
 '1999 ',
 '  Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Classification ',
 'Categorical, Real ',
 '6650 ',
 '15 ',
 '1999 ',
 '  Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '2565 ',
 '22 ',
 '2002 ',
 '  US Census Data (1990)',
 'Multivariate ',
 'Clustering ',
 'Categorical ',
 '2458285 ',
 '68 ',
 ' ',
 '  Census-Income (KDD)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '299285 ',
 '40 ',
 '2000 ',
 '  Coil 1999 Competition Data',
 'Multivariate ',
 ' ',
 'Categorical, Real ',
 '340 ',
 '17 ',
 '1999 ',
 '  Corel Image Features',
 'Multivariate ',
 ' ',
 'Real ',
 '68040 ',
 '89 ',
 '1999 ',
 '  E. Coli Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 '  EEG Database',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer, Real ',
 '122 ',
 '4 ',
 '1999 ',
 '  El Nino',
 'Spatio-temporal ',
 ' ',
 'Integer, Real ',
 '178080 ',
 '12 ',
 '1999 ',
 '  Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'Recommender-Systems ',
 'Categorical ',
 '50672 ',
 ' ',
 '2000 ',
 '  CMU Face Images',
 'Image ',
 'Classification ',
 'Integer ',
 '640 ',
 ' ',
 '1999 ',
 '  Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Regression, Description ',
 'Categorical, Integer ',
 '9000 ',
 '86 ',
 '2000 ',
 '  Internet Usage Data',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '10104 ',
 '72 ',
 '1999 ',
 '  IPUMS Census Database',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '256932 ',
 '61 ',
 '1999 ',
 '  Japanese Vowels',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '640 ',
 '12 ',
 ' ',
 '  KDD Cup 1998 Data',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '191779 ',
 '481 ',
 '1998 ',
 '  KDD Cup 1999 Data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '4000000 ',
 '42 ',
 '1999 ',
 '  M. Tuberculosis Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 '  Movie',
 'Multivariate, Relational ',
 ' ',
 ' ',
 '10000 ',
 ' ',
 '1999 ',
 '  MSNBC.com Anonymous Web Data',
 'Sequential ',
 ' ',
 'Categorical ',
 '989818 ',
 ' ',
 ' ',
 '  NSF Research Award Abstracts 1990-2003',
 'Text ',
 ' ',
 ' ',
 '129000 ',
 ' ',
 '2003 ',
 '  Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Real ',
 ' ',
 ' ',
 '1999 ',
 '  Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 ' ',
 ' ',
 '100000 ',
 ' ',
 '1999 ',
 '  Reuters-21578 Text Categorization Collection',
 'Text ',
 'Classification ',
 'Categorical ',
 '21578 ',
 '5 ',
 '1997 ',
 '  Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Classification ',
 'Integer ',
 '463 ',
 '90 ',
 '1999 ',
 '  Synthetic Control Chart Time Series',
 'Time-Series ',
 'Classification, Clustering ',
 'Real ',
 '600 ',
 ' ',
 '1999 ',
 '  Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'Classification ',
 'Categorical ',
 '332 ',
 '5 ',
 '1998 ',
 '  UNIX User Data',
 'Text, Sequential ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '  Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 '  Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '14 ',
 ' ',
 '  Statlog (German Credit Data)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1000 ',
 '20 ',
 ...]

In [100]:
Name = colsx[0::7]
Data_Types = colsx[1::7]
Default_Task = colsx[2::7]
Attribute_Types = colsx[3::7]
Instances = colsx[4::7]
Attributes = colsx[5::7]
Year = colsx[6::7]

In [101]:
UCI = pd.DataFrame({})
UCI['Name'] = Name
UCI['Data Types'] = Data_Types
UCI['Default Task'] = Default_Task
UCI['Attribute Type'] = Attribute_Types
UCI['Instances'] = Instances
UCI['Attributes'] = Attributes
UCI['Year'] = Year
UCI

,Name,Data Types,Default Task,Attribute Type,Instances,Attributes,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021